# Users/teams listed below are deemed responsible for the code in this repo.

# Responsible users will automatically be assigned to relevant pull requests
# for this repo.
# See https://help.github.com/articles/about-codeowners/ for more info.

* @UCF/webcom
