.chart-legend {
  ul {
    list-style: none;
  }

  li {
    font-size: $font-size-sm;
    margin-bottom: .5rem;

    > span {
      display: inline-block;
      height: $font-size-sm;
      margin-right: .5rem;
      vertical-align: middle;
      width: $font-size-sm;
    }
  }
}
