.college-grid-item {
  @extend .col-6;
  padding-left: 0;
  padding-right: 0;
  min-height: 50vw;

  @include media-breakpoint-up(md) {
    -webkit-box-flex: 0;
    flex: 0 0 33.33333%;
    min-height: 33vw;
    max-width: 33.33333%;
  }

  @include media-breakpoint-up(lg) {
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    min-height: 25vw;
    max-width: 25%;
  }

  @include media-breakpoint-up(xl) {
    -webkit-box-flex: 0;
    flex: 0 0 20%;
    min-height: 20vw;
    max-width: 20%;
  }
}

.college-grid-message {
  @extend .col-6;

  @include media-breakpoint-up(md) {
    -webkit-box-flex: 0;
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
  }

  @include media-breakpoint-up(lg) {
    -webkit-box-flex: 0;
    flex: 0 0 75%;
    max-width: 75%;
  }

  @include media-breakpoint-up(xl) {
    -webkit-box-flex: 0;
    flex: 0 0 40%;
    max-width: 40%;
  }
}

.colleges-grid-heading {
  font-size: 3vw !important;

  @include media-breakpoint-up(md) {
    font-size: 1.3rem !important;
  }

  @include media-breakpoint-up(lg) {
    font-size: 2.3rem !important;
  }
}

.colleges-grid-content {
  font-size: 2vw;

  @include media-breakpoint-up(md) {
    font-size: .8rem;
  }
}
