// Styles that are directly tied to the site footer/navigation should go in
// this file.

.site-footer {
  @include gotham();
  background: $footer-gray;
  color: $white;
  margin-top: 0;
  padding: 48px 0;

  .footer-title {
    font-size: 19px;
    letter-spacing: 3px;
    margin-bottom: 12px;
    text-align: center;
    text-transform: uppercase;
  }

  a {
    color: $white !important;

    &:hover,
    &:active,
    &:focus {
      color: $white !important;
      text-decoration: none;
    }
  }

  .social-menu {
    margin-top: 0;
  }

  .social-menu-link {
    background: $white;
    height: 32px;
    line-height: 32px;
    width: 32px;
  }

  .social-menu-icon {
    color: $footer-gray;

    &.fa-facebook,
    &.fa-twitter,
    &.fa-google-plus,
    &.fa-linkedin {
      font-size: 20px;
    }
  }

  #footer-menu li {
    border-right: 1px solid $white !important;
    padding-right: 10px;

    &:last-child {
      border-right: none !important;
    }

    a {
      @include gotham();
      letter-spacing: 0;
    }
  }
}

.main-site-footer {
  background: $footer-gray;
  padding: 48px 0;
  text-align: center;

  .main-site-title {
    color: $white;
    font-family: $font-family-sans-serif;
    font-size: 19px;
    margin-bottom: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}
