.locations-search {
  .twitter-typeahead {
    width: 100%;
  }

  .form-control {
    width: 100%;
  }

  .tt-menu {
    background-color: $black;
    font-size: .9rem;
    width: 100%;
  }

  .tt-dataset {
    color: $white;
  }

  .tt-suggestion {
    border-top: 1px solid $gray-dark;
    color: $white;
    cursor: pointer;
    margin-bottom: 0;
    padding: .5rem 1.25rem;

    &:first-child,
    &.no-border {
      border-top: 0 solid transparent;
    }

    &.tt-cursor,
    &:focus,
    &:hover {
      background-color: $brand-primary;
      color: $black;

      .suggestion-match-type {
        color: $gray-dark;
      }
    }

    &.no-hover {
      &.tt-cursor,
      &:focus,
      &:hover {
        background-color: inherit;
        color: $white;
      }
    }

    .suggestion-match-type {
      color: $gray-dark;
      font-size: .75rem;
      margin-left: .75rem;
    }
  }

  .empty-message {
    padding: .5rem 1.25rem;

    p {
      margin-bottom: 0;
    }
  }

  .ucf-post-list-location-item {
    border-bottom: 1px solid $brand-secondary;
    padding: .5rem 0;

    &:last-child {
      border-bottom: 0;
    }

    .ucf-post-list-location-title {
      color: $brand-secondary;
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 0;
      padding: .8rem;
    }

    .ucf-post-list-location-text {
      color: $brand-default;
      font-size: .8rem;
      font-style: italic;
      font-weight: 400;
      margin-bottom: 0;
      padding: .8rem;
    }
  }
}
