.ignite-logo {
  background: url('../img/ignite-logo.png') no-repeat;
  background-size: contain;
  display: inline-block;
  height: 0;
  margin-bottom: -11px;
  overflow: hidden;
  padding-top: 60px;
  width: 170px;
}
