.news {
  @extend .list-unstyled;

  .item {
    line-height: 1.5;
    margin-bottom: 10px;

    a {
      border-bottom: 1px solid #ccc;
      color: #333;
      font-size: 12px;
      font-weight: normal;

      &:hover {
        border-bottom: 1px solid #e50606;
        color: #e50606;
        text-decoration: none;
      }
    }
  }
}

.news-thumb {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  border-radius: 10px;
  box-shadow: none;
  cursor: pointer;
  float: left;
  height: 66px;
  margin-right: 15px;
  position: relative;
  text-indent: -9999px;
  width: 66px;
}
