
// News Modern theme
.ucf-news-modern {
  .ucf-news-item {
    display: table;
    margin-bottom: 30px;
    margin-left: -12px;
    padding: 12px;
    width: 100%;

    &:hover {
      background-color: #f6f6f6;
    }
  }

  .ucf-news-thumbnail,
  .ucf-news-item-content {
    display: table-cell;
    vertical-align: top;
  }

  // Die, link borders!
  .ucf-news-thumbnail,
  .ucf-news-item-link {
    &,
    &:hover,
    &:active,
    &:focus {
      border-bottom: 0 solid transparent !important;
    }
  }

  .ucf-news-thumbnail {
    width: 66px;

    @media (min-width: $screen-sm-min) {
      width: 150px;
    }

    + .ucf-news-item-content {
      padding-left: 15px;
    }
  }

  .ucf-news-thumbnail-image {
    height: auto;
    width: 100%;
  }

  .ucf-news-item-label {
    @include gotham(7);
    background-color: $ucf-gold;
    color: $black;
    display: inline-block;
    font-size: 10px;
    letter-spacing: 2px;
    margin: 0 0 10px;
    padding: 2px 15px;
    text-transform: uppercase;

    @media (min-width: $screen-sm-min) {
      font-size: 11px;
    }
  }

  .ucf-news-item-title {
    @include gotham(7);
    font-size: 15px;
    line-height: 1.25;
    margin: 0 0 10px !important;

    @media (min-width: $screen-sm-min) {
      font-size: 20px;
    }
  }

  .ucf-news-item-link {
    &,
    &:hover,
    &:active,
    &:focus {
      color: $black !important;
      text-decoration: none !important;
    }
  }

  .ucf-news-item-excerpt {
    @include gotham(4);
    font-size: 12px;
    line-height: 1.65;

    @media (min-width: $screen-sm-min) {
      font-size: 14px;
    }
  }
}

// News Text theme
.ucf-news-text {

  .ucf-news-item-title {
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .ucf-news-item-link {
    border-bottom: 1px solid #333;
    color: #333;
    font-size: 12px;
    font-weight: 400;

    &:hover {
      border-bottom: 1px solid #e50606;
      color: #e50606;
      text-decoration: none;
    }
  }
}