//
// Classic layout
//
.resource-search-wrap {
  .resource-link {
    text-decoration: none;

    @include hover-focus-active {
      text-decoration: underline;
    }
  }
}


//
// Card layout
//
.ucf-resource-list-card-wrapper {
  .ucf-resource-directory-items {
    a {
      text-decoration: none;

      @include hover-focus-active {
        text-decoration: underline;
      }
    }
  }
}
