// Emergency Status Alerts styles
#status-alert-template {
  display: none;
}

.status-alert {

  h2 {
    display: block;
    font-family: $font-family-sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: .9;
    margin-bottom: 10px;

    @media (max-width: $screen-xs-max) {
      font-size: 22px;
      line-height: 20px;
    }

    a {
      color: #fff;
    }
  }

  .alert-icon-wrap {
    @media (max-width: $screen-xs-max) {
      position: relative;
      z-index: 2;
    }
  }

  .alert-icon {
    color: #fff;
    height: 42px;
    font-size: 32px;
    width: 42px;

    @media (min-width: $screen-sm-min) {
      font-size: 48px;
      height: 50px;
      width: 50px;
    }

    &.general {

      @media (min-width: $screen-sm-min) {
        font-size: 57px;
      }

      &::before {
        content: '\f05a';
      }
    }

    &.weather {
      &::before {
        content: '\f0c2';
      }
    }

    &.police {
      &::before {
        content: '\f071';
      }
    }

    &.update {
      @media (min-width: $screen-sm-min) {
        font-size: 57px;
      }

      &::before {
        content: '\f05a';
      }
    }
  }

  .alert-wrap {
    @media (max-width: $screen-xs-max) {
      position: relative;
      z-index: 1;
    }
  }

  .alert {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    padding: 20px 35px 20px 22px;

    .close {
      font-size: 25px;
      opacity: .5;
      text-shadow: none;
    }
  }

  .alert-body {
    clear: both;
    display: block;
  }

  .alert-action {
    font-family: $font-family-sans-serif;
    font-size: 14px;

    .more-information {
      text-decoration: underline;
    }
  }

  .alert-danger {
    background: #ba2d2e;

    a {
      &,
      &:hover,
      &:active,
      &:focus {
        color: #fff;
      }
    }
  }

  .alert-info {
    background: #167ac6;
    border-color: #1478C6;

    a {
      &,
      &:hover,
      &:active,
      &:focus {
        color: #fff;
      }

      &.more-information {
        font-size: 12px;
        text-decoration: none;

        &:hover,
        &:active,
        &:focus {
          text-decoration: underline;
        }
      }
    }

    h2 {
      font-size: 14px;
    }
  }

  .content {
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }

}
