// Weather default styles
#weather_bug {
  float: left;
  margin-top: 8px;
}

#wb_status_txt {
  float: right;
  font-family: $font-family-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 0;
  padding: 5px 0 5px 40px;
  text-align: right;
}


@media (max-width: 979px) {
    .page-content #page-title #wb_status_txt { font-size: 12px; }
}

@media (max-width: 767px) {
    #page-title #weather_bug { display: none; }
}
