.clip-caret {
  --clip-caret-height: #{$clip-caret-height};
  --clip-caret-width: #{$clip-caret-width};
  // position and z-index are necessary here to play nice
  // with page headers with media backgrounds:
  position: relative;
  z-index: 2;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint);

  @include media-breakpoint-up($breakpoint) {
    .clip-caret#{$infix}-down {
      clip-path: polygon(
        0 0,
        0 100%,
        100% 100%,
        100% 0,
        calc(50% + calc(var(--clip-caret-width) / 2)) 0,
        50% var(--clip-caret-height),
        calc(50% - calc(var(--clip-caret-width) / 2)) 0,
        0 0
      );
      margin-left: 0;
      margin-top: calc(var(--clip-caret-height) * -1);
    }

    .clip-caret#{$infix}-left {
      clip-path: polygon(
        0 0,
        var(--clip-caret-height) 0,
        var(--clip-caret-height) calc(50% - calc(var(--clip-caret-width) / 2)),
        0 50%,
        var(--clip-caret-height) calc(50% + calc(var(--clip-caret-width) / 2)),
        var(--clip-caret-height) 100%,
        0 100%,
        100% 100%,
        100% 0,
        0 0
      );
      margin-left: calc(var(--clip-caret-height) * -1);
      margin-top: 0;
    }

    .clip-caret#{$infix}-up {
      clip-path: polygon(
        0 0,
        0 100%,
        100% 100%,
        100% var(--clip-caret-height),
        calc(50% + calc(var(--clip-caret-width) / 2)) var(--clip-caret-height),
        50% 0,
        calc(50% - calc(var(--clip-caret-width) / 2)) var(--clip-caret-height),
        0 var(--clip-caret-height),
        0 0
      );
      margin-left: 0;
      margin-top: calc(var(--clip-caret-height) * -1);
    }

    .clip-caret#{$infix}-right {
      clip-path: polygon(
        0 0,
        0 calc(50% - calc(var(--clip-caret-width) / 2)),
        var(--clip-caret-height) 50%,
        0 calc(50% + calc(var(--clip-caret-width) / 2)),
        0 100%,
        100% 100%,
        100% 0,
        0 0
      );
      margin-left: calc(var(--clip-caret-height) * -1);
      margin-top: 0;
    }

    .clip-caret#{$infix}-none {
      clip-path: none;
      margin-left: 0;
      margin-top: 0;
    }
  }
}
