@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

  @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
    .clip-caret#{$infix}-down {
      clip-path: polygon(
        0 0,
        0 100%,
        100% 100%,
        100% 0,
        calc(50% + #{$caret-size}) 0,
        50% #{$caret-size},
        calc(50% - #{$caret-size}) 0,
        0 0
      );
      margin-left: 0;
      margin-top: -#{$caret-size};
    }

    .clip-caret#{$infix}-left {
      clip-path: polygon(
        0 0,
        #{$caret-size} 0,
        #{$caret-size} calc(50% - #{$caret-size}),
        0 50%,
        #{$caret-size} calc(50% + #{$caret-size}),
        #{$caret-size} 100%,
        0 100%,
        100% 100%,
        100% 0,
        0 0
      );
      margin-left: -#{$caret-size};
      margin-top: 0;
    }

    .clip-caret#{$infix}-up {
      clip-path: polygon(
        0 0,
        0 100%,
        100% 100%,
        100% #{$caret-size},
        calc(50% + #{$caret-size}) #{$caret-size},
        50% 0,
        calc(50% - #{$caret-size}) #{$caret-size},
        0 #{$caret-size},
        0 0
      );
      margin-left: 0;
      margin-top: -#{$caret-size};
    }

    .clip-caret#{$infix}-right {
      clip-path: polygon(
        0 0,
        0 calc(50% - #{$caret-size}),
        #{$caret-size} 50%,
        0 calc(50% + #{$caret-size}),
        0 100%,
        100% 100%,
        100% 0,
        0 0
      );
      margin-left: -#{$caret-size};
      margin-top: 0;
    }

    .clip-caret#{$infix}-none {
      clip-path: none;
      margin-left: 0;
      margin-top: 0;
    }
  }
}
