.subpage .page-content #page_title {
  border-bottom: 0 solid transparent;
  padding-top: 15px;
}

.subpage .page-content #page_title {
  display: none;
}

#contentcol {
  margin-bottom: 40px;
  text-align: center;
}

#contentcol h1 {
/*  font-family: "Gotham SSm 8r", "Gotham SSm A", "Gotham SSm B";
  font-size: 350px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -.04em;
  line-height: .9;*/
  margin-bottom: 35px;
  margin-top: 10px;
}

/*@media (max-width: 767px) {
  #contentcol h1 {
    font-size: 30vw;
  }
}*/

#contentcol p {
  font-family: "Gotham SSm 4r", "Gotham SSm A", "Gotham SSm B";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}

#contentcol .lead {
  font-size: 24px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -.02em;
}

#contentcol .search-form {
  position: relative;
}

#contentcol .search-field {
  box-sizing: border-box;
  font-family: "Gotham SSm 4r", "Gotham SSm A", "Gotham SSm B";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: 65px;
  line-height: 65px;
  padding-right: 60px;
  position: relative;
  text-indent: 10px;
  width: 100%;
  z-index: 2;
}

@media (max-width: 767px) {
  #contentcol .search-field {
    font-size: 18px;
  }
}

#contentcol .search-submit {
  background-color: transparent;
  border: 0 solid transparent;
  bottom: 0;
  box-sizing: border-box;
  height: 65px;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-indent: 70px;
  top: 0;
  width: 60px;
  z-index: 3;
}

#contentcol .search-submit:before {
  color: #999;
  content: "";
  display: block;
  font-family: "FontAwesome";
  font-size: 28px;
  height: 65px;
  left: 0;
  line-height: 65px;
  position: absolute;
  text-align: center;
  text-indent: 0;
  top: 0;
  width: 60px;
  z-index: 4;
}

#contentcol .search-submit:hover:before {
  color: #08c;
}
