@import '../custom-base';

.impact-card {
  box-shadow: -2px -2px 4px #e3e3e3, 2px 2px 4px #cacaca;

  .blockquote {
    line-height: 1.4;
  }
}

.card-img-border {
  border-bottom: 5px solid $ucf-gold;
}
