@font-face {
	font-family: 'f1';
	src: url('f1.eot');
	src: local('☺'), url('f1.woff') format('woff'), url('f1.ttf') format('truetype'), url('f1.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'f2';
	src: url('f2.eot');
	src: local('☺'), url('f2.woff') format('woff'), url('f2.ttf') format('truetype'), url('f2.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'f3';
	src: url('f3.eot');
	src: local('☺'), url('f3.woff') format('woff'), url('f3.ttf') format('truetype'), url('f3.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

