@font-face {
    font-family: 'f1';
    src: url('f1.eot');
    src: url('f1.eot?#iefix') format('embedded-opentype'),
         url('f1.woff') format('woff'),
         url('f1.ttf') format('truetype'),
         url('f1.svg#f1') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'f2';
    src: url('f2.eot');
    src: url('f2.eot?#iefix') format('embedded-opentype'),
         url('f2.woff') format('woff'),
         url('f2.ttf') format('truetype'),
         url('f2.svg#f2') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'f3';
    src: url('f3.eot');
    src: url('f3.eot?#iefix') format('embedded-opentype'),
         url('f3.woff') format('woff'),
         url('f3.ttf') format('truetype'),
         url('f3.svg#f3') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'f4';
    src: url('f4.eot');
    src: url('f4.eot?#iefix') format('embedded-opentype'),
         url('f4.woff') format('woff'),
         url('f4.ttf') format('truetype'),
         url('f4.svg#f4') format('svg');
    font-weight: normal;
    font-style: normal;
}