/**
 * Custom admin styles go here.
 **/

#theme-options .block{display: block;}
#theme-options .checkbox-list,
#theme-options .radio-list{padding: 0; margin: 0;}
#theme-options .checkbox-list li,
#theme-options .radio-list li{list-style-type: none; display: inline; margin-right: 20px;}
#theme-options .description em{font-family: monospace; font-weight: bold; color: #21759B;}
#theme-options .field label{display: none;}
#theme-options .field li label{display: inherit;}
#theme-options textarea{width: 70%; height: 10em;}

body.login #nav,
body.login #backtoblog{display: inline;}
body.login #loginform{margin-bottom: 20px;}
body.login #login h1 a{background: transparent url('../img/login-logo.png') no-repeat 50% 0; text-indent: 0; text-align: center; text-decoration: none; padding-top: 92px; height: inherit; font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif"; color: #333;}
body.login #login h1 a:hover{color: #555;}
body.login #login h1 a .hide{display: block;}

.description code { background:none; font-weight:bold; color:#21759B; padding:0; }

tr.section{padding-bottom: 20px;}
tr.section td{padding: 0;}
tr.section td td{padding: 10px; margin: 0;}
tr.section h3{padding: 10px; margin: 0; background-color: #efefef; color: #21759B; border: 1px solid #DFDFDF;}
tr.section table{padding: 0; margin: 0 0 20px 0;}
