/**
 * Custom admin styles go here.
 **/

.block{display: block;}
.checkbox-list,
.radio-list{padding: 0; margin: 0;}
.checkbox-list li,
.radio-list li{list-style-type: none; display: inline; margin-right: 20px;}