@import url('fonts/fonts.css');
/**
 * Element styles (No font-family)
 **/
a{text-decoration: underline; color: #313130; }
a:hover{color: #ed1c24;}
h1{margin: .5em 0 1em 0; font-size: 22px; color: #E3B00B;}
h2{margin: .5em 0 1em 0; font-size: 17px; font-weight: bold; color: #000;}
h3{margin: .5em 0 1em 0; font-size: 14px; font-weight: bold; color: #000;}
h4,
h5,
h6{margin: 1em 0 1em 0; font-size: 14px; font-weight: bold; color: #000;}
p{line-height: 1.5em; margin: 0 0 1em 0;}
.default p { font-size:16px; }
blockquote{padding: 0 2em; color: #333; font-style: italic;}
ol,
ul{padding-left: 2em; margin: 1.5em 0; }
.default ul { font-size:16px; }
li{margin: 0 0 .75em 0;}
ul li{list-style: disc;}
ul ol,
ol ul,
ol ol,
ul ul{margin: 0 0 .75em 0;}
ul ul li{list-style: circle; margin: .75em 0 0 0;}
ol li{list-style: decimal;}
ol ol li{list-style: lower-roman; margin: .75em 0 0 0;}
ol ol ol li{list-style: lower-alpha;}
strong{font-weight: bold;}
em{font-style: italic;}


.default a {font-weight:bold;}
.default h1,
.default .sans{font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";}
.default h2,
.default .sans-alt{font-family: "Arial Black", "Arial", "sans-serif";}
.default h3,
.default h4,
.default h5,
.default h6,
.default p,
.default ul,
.default ol,
.default a,
.default blockquote,
.default .serif{font-family: "Georgia", "serif";}

/**
 * Font declarations 
 **/
.bold { font-weight: normal; font-style: normal; line-height:normal; font-family: 'Helvetica Neue Bold', 'f1', 'Helvetica Bold', 'HelveticaBold', 'Helvetica-Bold', sans-serif; }
.light { font-weight: normal; font-style: normal; line-height:normal; font-family: 'Helvetica Neue Light', 'f4', 'Helvetica Light', 'HelveNeuLig', 'Helvetica-Light', sans-serif; }
.ulight { font-weight: normal; font-style: normal; line-height:normal; font-family: 'Helvetica Neue UltraLight', 'f2', 'Helvetica Ultra Light', 'HelveNeuUltLig', sans-serif; }
.rock { font-weight: normal; font-style: normal; line-height:normal; font-family: 'Rockwell Light', 'f3', 'RockwellLight', 'Rockwell-Light', serif; }


/**
 * Generic Classes
 **/
ul.nobullet,
ol.nobullet{padding-left: 0; margin-left: 0;}
.nobullet,
.nobullet li{list-style-type: none;}
.aligncenter{margin-left: auto; margin-right: auto; display: block;}
.alignright{margin-left: auto; margin-right: 0; display: block;}
.normal{font-weight: normal;}
.heavy{font-weight: bold;}
.upfont{font-size: 150%;}
.downfont{font-size: 90%; line-height: 1.75em;}
.clear-left{clear: left;}
.clear-right{clear: right;}
.clear{clear: both;}
.frame{display:block; margin-bottom:1em; -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px; -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px; background-color: white; -moz-border-radius: 5px; -webkit-border-radius: 5x; border-radius:5px; padding:5px; position:relative;}
.ie .frame{border:1px solid #CCC;}


/**
 * Captioned items. Generally only useful with images. Example:
 * <div class="captioned">
 *   <div class="content"><img src=.../></div>
 *   <div class="caption">
 *     <p>This is a caption, it captions something wow.</p>
 *   </div>
 * </div>
 **/
.captioned{display: block; position: relative;}
.captioned .content{}
.captioned .caption{position: absolute; bottom: 5px; left: 0; padding: 10px 10px 0 10px; background-color: #333; color: #fff;}
.firefox .caption{bottom: 7px;}
.captioned .caption p{margin: 0 0 10px 0;}


/**
 * Button styles
 **/
a.button,
button{display: inline; padding: 5px; color: #3C3C3D; text-shadow: 1px 1px 0 #FFFFFF; background: #ECECEC; white-space: nowrap; overflow: visible; cursor: pointer; text-decoration: none; border: 1px solid #CACACA; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; outline: none; zoom: 1; line-height: 1;}
button{margin-left: 0; margin-right: 0;}
.msie a.button,
button{padding: 6px 5px 6px 5px;}
a.button{-moz-user-select: none; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-user-select: none; -webkit-touch-callout: none;}
button::-moz-focus-inner{border: 0; padding:0px;}
a.button.primary,
button.primary {font-weight: bold}
button:focus,
a.button:hover,
button:hover{color: #FFFFFF; border-color: #388AD4; text-decoration: none; text-shadow: -1px -1px 0 rgba(0,0,0,0.3); background-position: 0 -40px; background-color: #2D7DC5;}
a.button:active,
button:active,
a.button.active,
button.active {background-position: 0 -81px; border-color: #347BBA; background-color: #0F5EA2; color: #FFFFFF; text-shadow: none;}
a.button:active,
button:active{top: 1px;}


/**
 * External links
 **/
.default a.external:after{background: url('../img/external.png'); margin: 0 0 0 5px; height: 16px; width: 16px; content: ''; display: inline-block; position: relative; top: 2px;}

/**
 * Mimetype icons
 **/
.powerpoint:before,
.missing:before,
.excel:before,
.word:before,
.zip:before,
.pdf:before,
.html:before,
.document:before{background: url('../img/documents.png'); margin: 0 5px 0 0; height: 18px; width: 18px; content: ''; display: inline-block; position: relative; top: 3px;}
.powerpoint:before{background-position: 0 -18px;}
.pdf:before{background-position: 0 -36px;}
.missing:before{background-position: 0 -54px;}
.excel:before{background-position: 0 -72px;}
.zip:before{background-position: 0 -90px;}
.word:before{background-position: 0 -108px;}
.html:before{background-position: 0 -126px;}