@media print {
	
	.print-only { display: block; }
	a.print-noexpand:after { content: ""; }
	.screen-only { display: none; }
	pre,
	blockquote { border: 0; }
	
	/* UCF Header (black bar) Overrides */
	#UCFtitle a:after { content: ""; }
	
	/* Header/Footer Overrides */
	#header-menu a[href]:after {
		content: "";
	}
	
	/* Home Page Overrides */
	#centerpiece_slider .thumb_corner_tl,
	#centerpiece_slider .thumb_corner_tr,
	#centerpiece_slider .thumb_corner_bl,
	#centerpiece_slider .thumb_corner_br,
	#centerpiece_control { 
		display: none;
	}
	
	.home_spotlight_single > a[href]:after,
	.home_spotlight_single .home_spotlight_title a[href]:after,
	ul.news li.item > a.image:after { content: ""; }
		
	/* Subpage Overrides */
	#sidebar_left, #sidebar_right { display: none; }
	iframe, object, embed { display: none; }
	
	/* Academics Search */
	#academics-search #filters,
	#academics-search #browse { display: none; }
	#academics-search ul.results-list .program { border-bottom: 1px solid #ddd; }
	#academics-search ul.results-list .program:last-child { border-bottom: 0; }
	#academics-search ul.results-list .program .credits_wrap { border-top: 0px; padding-top: 0; text-align: left; }
	
	/* Announcements */
	#announcements #filters { display: none; }
	.announcement_wrap { margin-bottom: 20px; border-bottom: 1px solid #ddd; }
	.announcement_wrap:before, .announcement_wrap:after {
		background: transparent); 
		-webkit-box-shadow: none;   
		-moz-box-shadow: none;
		box-shadow: none;
		-webkit-transform: none;
		-webkit-backface-visibility: hidden;    
		-moz-transform: none;  
		-o-transform: none;
		-ms-transform: none;
		transform: none;
	}
	.announcement_wrap:after {
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		-ms-transform: none;
		transform: none;
	}
	
}