/**
 * A collection of commonly used styles for wordpress themes.
 **/

/**
 * Element styles (No font-family)
 **/
html{background: url("../img/gradient.png") repeat-x top left #fff;}
body{color: #222;}
a{text-decoration: underline; color: #313130; font-weight: bold;}
a:hover{color: #ed1c24;}
h1{font-size: 29px; margin: 0 0 .5em 0;}
h1 a{text-decoration: none; color: #313130; font-weight: normal;}
h2{margin: 0 0 .5em 0; font-size: 22px; color: #E3B00B;}
h3{margin: 0 0 .5em 0; font-size: 17px; font-weight: bold; color: #000;}
h4{margin: 0 0 .5em 0; font-size: 14px; font-weight: bold; color: #000;}
p{line-height: 1.5em; font-size: 16px; margin: 0 0 1em 0;}
ol,
ul{padding-left: 2em; margin: 0 0 1em 0; font-size: 14px;}
li{margin: 0 0 .75em 0;}
ul li{list-style: disc;}
ul li ul li{list-style: circle; margin: .75em 0 0 0;}
ol li{list-style: decimal;}
ol li ol li{list-style: lower-roman; margin: .75em 0 0 0;}
ol li ol li ol li{list-style: lower-alpha;}

/**
 * Font declarations 
 **/
h2,
.sans{font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";}
h1, h4, p, ul, ol, a,
.sans-serif{font-family: "Georgia", "serif";}
h3,
.sans-alt{font-family: "Arial Black", "Arial", "sans-serif";}

/**
 * Generic Classes
 **/
.menu a{font-weight: normal; text-decoration: none; font-size: 16px; margin-right: 5px;}
.menu a:hover{text-decoration: underline;}
.menu.horizontal{list-style: none; margin: 0; color: #6d6e71; padding: 10px 0 0 0;}
.menu.horizontal li{display: inline-block; margin: 0 3px 0 0; padding: 0;}
.ie .menu.horizontal li{display: block; float: left; margin-right: 6px;}
.menu.horizontal li:after{content: "\2022"; margin-left: 1px;}
.menu.horizontal .last:after {content: ""; margin-left: 0;}

.aligncenter{margin-left: auto; margin-right: auto; display: block;}
.alignright{margin-left: auto; margin-right: 0; display: block;}
.normal{font-weight: normal;}
.heavy{font-weight: bold;}
.upfont{font-size: 150%;}
.downfont{font-size: 90%; line-height: 1.75em;}
.clear-left{clear: left;}
.clear-right{clear: right;}
.clear{clear: both;}
.frame{display:block; margin-bottom:1em; -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px; -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px; background-color: white; -moz-border-radius: 5px; -webkit-border-radius: 5x; border-radius:5px; padding:5px; position:relative;}
.ie .frame{border:1px solid #CCC;}


/**
 * Location specific styles
 **/
#blueprint-container{padding-top: 24px;}
#header h1{margin: 0;}
#header{border-bottom: 1px dotted #000; padding-bottom: 10px; margin-bottom: 10px;}
#footer{border-top: 1px dotted #000; padding-top: 10px; margin: 10px 0 20px 0;}