
.section-degrees {
  .degree-search {
    .btn-degree-search {
      padding: .4em;

      @include media-breakpoint-up(md) {
        padding: .3em;
      }
    }

    .fa-search {
      font-size: 2.2em;
    }
  }

  .hr-vertical {
    border-left: 1px solid;
    display: block;
    height: 100%;
    margin-bottom: 0;
    margin-top: 0;
    width: 1px;
  }
}

.bg-gray {
  background-color: #000;
}

.colleges-degree-search-wrap {
  background-color: #fff
}

@media (min-width:992px) {
  .colleges-degree-search-wrap {
    background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(50%, #fff), color-stop(50%, #000), to(#000));
    background: linear-gradient(to right, #fff, #fff 50%, #000 50%, #000 100%)
  }
}

@media (min-width:992px) {
  .colleges-degree-search-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
  }
}

.colleges-degree-search-pad {
  display: none
}

@media (min-width:992px) {
  .colleges-degree-search-pad {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc((100vw - 960px) * .5 + (30px * .5));
    flex: 0 0 calc((100vw - 960px) * .5 + (30px * .5));
    width: calc((100vw - 960px) * .5 + (30px * .5))
  }
}

@media (min-width:1200px) {
  .colleges-degree-search-pad {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc((100vw - 1140px) * .5 + (30px * .5));
    flex: 0 0 calc((100vw - 1140px) * .5 + (30px * .5));
    width: calc((100vw - 1140px) * .5 + (30px * .5))
  }
}

.colleges-degree-search-content {
  display: block;
  padding: 2rem 15px
}

@media (min-width:576px) {
  .colleges-degree-search-content {
    padding: 2.5rem calc((100vw - 540px) * .5 + (30px * .5));
    width: 100%
  }
}

@media (min-width:768px) {
  .colleges-degree-search-content {
    padding: 2.5rem calc((100vw - 720px) * .5 + (30px * .5))
  }
}

@media (min-width:992px) {
  .colleges-degree-search-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    width: auto
  }
}

.colleges-degree-search-content-deadlines {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 320 75' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='m0 0h320v75h-320z' fill='%23000000'/%3E%3Cpath d='m160 0 160 75h-320z' fill='%23fff' transform='matrix(-1 0 0 -1 320 75)'/%3E%3C/g%3E%3C/svg%3E");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% 4rem;
  padding-bottom: 4rem
}

@media (min-width:992px) {
  .colleges-degree-search-content-deadlines {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='bg' height='100%25' width='150' viewBox='0 0 150 100' preserveAspectRatio='none' shape-rendering='geometricPrecision' style='background-color: %23000000;'%3E%3Cpath fill='%23fff' d='M0,0 h110 l40,50 l-40,50 h-110z'%3E%3C/path%3E%3C/svg%3E");
    background-position: center right;
    background-size: 50% 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-bottom: 2.5rem;
    padding-right: 6rem
  }
}

@media (min-width:992px) {
  .colleges-degree-search-content-start {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    max-width: 320px;
    padding-left: 2.5rem
  }
}

@media (min-width:1200px) {
  .colleges-degree-search-content-start {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    max-width: 475px
  }
}

@media (min-width:992px) {
  .colleges-degree-search-content-start.colleges-degree-search-content-start-condensed {
    max-width: 290px
  }
}

@media (min-width:1200px) {
  .colleges-degree-search-content-start.colleges-degree-search-content-start-condensed {
    max-width: 555px;
  }
}

.colleges-degree-search-text-shadow-primary-darker {
    text-shadow: 2px 2px 0 #b18e00;
}

@media (min-width:992px) {
  .ucf-rank-number {
    font-size: 2.25rem;
    padding: .5rem .4rem .4rem 0.5rem;
  }
}

.special-heading-padding {
  line-height: .7;
  padding-bottom: .85rem;

  @media(min-width: 992px) {
    line-height: .55;
    padding-bottom: 1rem;
  }
}

.impact-card .blockquote p {
  line-height: 1.25;
}

.heading-border-bottom-thick {
  border-bottom: 5px solid $ucf-gold;
}

.heavy-underline {
  background-image: linear-gradient(to bottom, #fc0 0%, #fc0 100%);
  background-position: 0 .85em;
  background-size: 100% 14px;
  background-repeat: repeat-x;
}
