.degree-title-wrap {
  box-sizing: border-box;
  display: table;
  margin-bottom: 0;
  padding: .95rem;
  width: 100%;

  &:hover,
  &:active,
  &:focus {
    background-color: $gray-lighter;
    text-decoration: none;
  }
}

.degree-title {
  border: 0 solid transparent;
  box-sizing: border-box;
  color: #08c;
  display: table-cell;
  font-size: .9rem;
  margin-bottom: 5px;
  padding-right: 1.2rem;
  vertical-align: middle;

  @include media-breakpoint-up(sm) {
    font-size: 1.2rem;
    line-height: 1.1;
    margin-bottom: .25rem;
  }

  .degree-program-type {
    display: block;
    margin-top: 6px;
  }
}

.degree-search-types,
.degree-search-colleges {
  a {
    cursor: pointer;
    display: inline-block;
    line-height: 1.2;
    margin: 5px 0;
    width: 100%;

    &.active {
      font-weight: 700;
      text-decoration: underline;
    }
  }
}

.results-count {
  min-height: 26px;
}
