// Academics Search page - general
#academics-search {
  input[type="checkbox"] {
    @media (max-width: $screen-xs-max) {
      // Help mobile users and provide larger checkboxes when possible
      transform: scale(1.25);
    }
  }

  .lead {
    @include gotham(2);
    font-size: 30px;
    letter-spacing: -.012em;
    line-height: 1.4;
    margin: 10px 0;
    text-align: center;

    @media (max-width: $screen-sm-max) {
      font-size: 24px;
    }

    @media (max-width: $screen-xs-max) {
      font-size: 18px;
    }

    strong,
    b {
      @include gotham();
    }
  }

  .btn.disabled,
  .btn.disabled:hover,
  .btn.disabled:active,
  .btn.disabled:focus {
    // Make disabled buttons look more disabled
    color: #888 !important;
  }
}


// Academics Search page - font resets
#degree-search-top,
#degree-search-top input,
#degree-search-top select,
#degree-search-top option,
#degree-search-sidebar,
#degree-search-sidebar input,
#degree-search-sidebar select,
#degree-search-sidebar option,
#degree-search-content,
#degree-search-content input,
#degree-search-content select,
#degree-search-content option {
  // Reset to sans-serif
  font-family: $font-family-sans-serif;
  font-size: 14px;

  @media (max-width: $screen-sm-max) {
    font-size: 13px;
  }
}


// Academics Search page - sidebar/filters
#degree-search-sidebar {
  @media (max-width: $screen-xs-max) {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    box-sizing: border-box;
    left: 15px;
    margin-top: 0;
    max-height: 0; // set via js when active
    opacity: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 50px; // is overridden via JS
    transition: opacity .2s ease-in-out;
    width: 92%; // pre android v4.4 :(
    width: calc(100% - 30px);
    z-index: 999;
  }

  &.active {
    @media (max-width: $screen-xs-max) {
      opacity: 1;
      pointer-events: all;
    }
  }

  &.affix,
  &.affix-bottom {
    width: 242.5px;  // Must force fixed width on .affix due to BS3 .col widths being percentage-based

    @media (max-width: $screen-sm-max) {
      width: 187.5px;
    }

    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
  }

  &.affix {
    top: 0;
    z-index: 999;
  }

  &.affix-bottom {
    position: absolute;
  }

  label {
    font-size: 14px;

    @media (max-width: $screen-sm-max) {
      font-size: 13px;
    }

    @media (max-width: $screen-xs-max) {
      font-size: 12.5px;
      line-height: 1.2;
      margin: 0;
      padding: 5px 5px 5px 25px;
    }
  }

  select {
    @media (max-width: $screen-xs-max) {
      margin-bottom: 0;
      width: 55%;
    }
  }

  input:checked + span,
  input:checked + .seo-li span,
  input:checked ~ .filter-result-count {
    font-weight: bold;
  }

  .radio {
    padding-left: 21px;
  }

  .checkbox input[type="checkbox"] {
    @media (max-width: $screen-xs-max) {
      margin-right: 10px;
      margin-top: 0;
    }
  }

  .filter-result-count {
    color: #888;
  }

  .degree-filter-title {
    @include font-smoothing();
    @include gotham();
    color: #888;
    display: block;
    float: left;
    font-size: 18px;
    letter-spacing: -.012em;
    line-height: 2.3;

    @media (max-width: $screen-xs-max) {
      font-size: 14px;
      line-height: 1.4;
      margin: 15px 0 5px;
    }
  }

  .degree-filter-clear {
    clear: right;
    color: #999 !important;
    float: right;
    font-size: 12px;
    line-height: 2.3;
    text-decoration: underline;

    @media (max-width: $screen-xs-max) {
      display: none; // These buttons aren't necessary with the Reset All btn being present
    }
  }

  .degree-filter-list {
    clear: both;
    list-style-type: none;
    margin-bottom: 15px;
    margin-left: 0;
    padding-left: 0;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 10px;
    }

    li {
      padding-bottom: 6px;
      padding-left: 0;

      @media (max-width: $screen-xs-max) {
        border-top: 1px solid #eee;
        box-sizing: border-box;
        margin: 0 4px;
        padding: 4px 0;
        text-align: left;
      }

      &:first-child {
        @media (max-width: $screen-xs-max) {
          border-top: 0 solid transparent;
        }
      }
    }

    a {
      color: #000;

      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
      }
    }
  }

  .degree-filter-list,
  .degree-filter-title {
    @media (max-width: $screen-xs-max) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .popover-title {
    display: none; // hide empty titles
  }

  .popover {
    font-size: 12px;
    line-height: 1.4;
    font-weight: normal;
  }

  .popover-content {
    @media (max-width: $screen-xs-max) {
      max-height: 250px;
      -webkit-overflow-scrolling: touch;
      overflow-x: hidden;
      overflow-y: scroll;
    }
  }

  .degree-mobile-actions {
    @media (max-width: $screen-xs-max) {
      background: #eee;
      border-radius: 5px 5px 0 0;
      padding: 8px;
      position: relative;
      position: -webkit-sticky;  // we can at least give ios users a fixed top bar
      top: -1px;  // Hide un-styleable outline on #degree-search-sidebar:target
      z-index: 999;
    }
  }

  .degree-search-sort {
    @media (max-width: $screen-xs-max) {
      border-bottom: 1px solid #eee;
      display: table;
      margin-bottom: 5px;
      padding: 10px;
    }

    select {
      @media (max-width: $screen-xs-max) {
        font-family: $font-family-sans-serif;
      }
    }

    .degree-filter-title {
      @media (max-width: $screen-xs-max) {
        margin-top: 6px;
        padding: 0
      }
    }
  }
}


// Academics Search page - lead content/search form
#degree-search-top {
  margin-bottom: 10px;

  @media (max-width: $screen-xs-max) {
    margin-bottom: 0;
  }

  .degree-search-form {
    margin-top: 25px;
    text-align: center;

    button {
      background-color: transparent;
      border: 0 solid transparent;
      bottom: 0;
      box-sizing: border-box;
      height: 50px;
      line-height: 50px;
      overflow: hidden;
      position: absolute;
      right: 16px;
      text-indent: 70px;
      top: 0;
      width: 60px;
      z-index: 3;

      &:hover {
        text-decoration: none;

        &:before {
          color: #08C;
        }
      }

      &:before {
        color: #999;
        content: '';
        display: block;
        font-family: 'FontAwesome';
        font-size: 28px;
        height: 50px;
        left: 0;
        line-height: 50px;
        position: absolute;
        text-align: center;
        text-indent: 0;
        top: 0;
        width: 60px;
        z-index: 4;
      }
    }
  }

  .degree-search-form .input-group,
  .degree-search-form .search-field {
    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
  }

  .degree-search-form-inner {
    display: inline-block;
    float: none;
    margin: 0 auto;
    position: relative;

    @media (max-width: $screen-xs-max) {
      display: block;
    }
  }

  .search-field {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    padding-right: 60px;
    position: relative;
    text-indent: 10px;
    width: 100%;
    z-index: 2;

    @include body-prefix('.ie8') {
      // Move out of the field in ie8 because right padding isn't applied properly to push text
      box-sizing: content-box;
      margin-right: 60px;
      padding-right: 0;
    }
  }

  .twitter-typeahead {
    display: block !important;

    .tt-menu {
      background-color: #fff;
      border: 1px solid rgba(0,0,0,.15);
      box-shadow: 0 6px 12px rgba(0,0,0,.175);
      font-size: 13px;
      list-style: none;
      margin: 2px 0 0;
      padding: 5px 0;
      text-align: left;

      .tt-suggestion {
        padding: 5px 10px;

        &:hover, &.tt-cursor {
          cursor: pointer;
          color: #fff;
          background-color: #337ab7;
        }

        &.empty-message:hover {
          cursor: inherit;
          color: #000;
          background-color: #fff;
        }
      }
    }
  }

  .degree-search-sort {
    border-bottom: 1px solid #e5e5e5;
    margin-top: 30px;
    width: 100%;
  }

  .degree-search-sort-inner {
    display: table-cell;
    padding-bottom: 10px;
    vertical-align: middle;

    @include body-prefix('.ie8') {
      display: block;
      float: left;
    }

    @media (max-width: $screen-sm-max) {
      // We assume that browsers that support media queries can support box-sizing
      box-sizing: border-box;
    }
  }

  .degree-result-count {
    @include font-smoothing();
    border-right: 1px solid #eee;
    font-family: $font-family-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    line-height: 22px;
    padding-right: 15px;
    padding-top: 5px;
    width: 70%;

    @media (max-width: $screen-sm-max) {
      width: 62%;
    }

    @media (max-width: $screen-xs-max) {
      border-right: 0 solid transparent;
      float: left;
      font-style: italic;
      font-weight: normal;
      padding-right: 10px;
    }

    .for {
      padding-right: 8px;

      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }

    .result {
      @media (max-width: $screen-xs-max) {
        font-size: 12px;
        line-height: 1.2;
        padding: 4px 8px;
      }

      .close {
        border: 1px solid #666;
        border-radius: 20px;
        color: #666;
        display: block;
        font-size: 14px;
        line-height: 12px;
        float: right;
        margin-left: 4px;
        margin-top: 3px;
        opacity: .3;
        padding: 0 3px 2px;
        position: relative;
        top: -5px;

        &:hover,
        &:active,
        &:focus {
          opacity: .8;
        }

        &:before {
          content: '×';
          display: block;
        }
      }
    }

    .result,
    .search-result {
      font-style: normal;
    }
  }

  .degree-result-count-num,
  .degree-result-count .result,
  .degree-result-count .search-result {
    font-weight: bold;
  }

  .degree-result-count,
  .degree-search-sort-options.visible-xs {
    @media (max-width: $screen-xs-max) {
      box-sizing: border-box;
      display: table-cell !important;
      float: none;
      vertical-align: bottom;
      width: 100%;
    }
  }

  .reset-search {
    color: #e50606;
    font-family: $font-family-sans-serif;
    font-style: normal;
    text-decoration: underline;
  }

  .degree-result-phrase-desktop {
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }

  .degree-result-phrase-phone {
    display: none;

    @media (max-width: $screen-xs-max) {
      display: inline;
    }
  }

  .degree-search-sort-options {
    padding-left: 15px;
    width: 27%;

    @media (max-width: $screen-sm-max) {
      width: 34%;
    }

    @media (max-width: $screen-xs-max) {
      padding-bottom: 5px;
      text-align: right;
    }

    @include body-prefix('.ie8') {
      width: 28%;
    }
  }

  .degree-search-sort-label {
    @include gotham();
    padding-left: 0;
  }

}


// Academics Search page - more resets
#degree-search-top .degree-result-count .result,
#degree-search-content .degree-search-again-container a {
  color: #000;
  display: inline-block;
  font-family: $font-family-sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 2px 0;
  padding: 0 8px 0 0;
}


// Academics Search page - content column
#ajax-loading {
  background-color: rgba(255, 255, 255, .75);
  background-image: url('../img/ajax.gif');
  background-repeat: no-repeat;
  background-position: top center;
  box-sizing: border-box;
  display: block;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  transition: background-color .1s ease-in-out;

  &.hidden {
    background-color: rgba(255, 255, 255, 0);
  }
}

#degree-search-content {
  @media (max-width: $screen-xs-max) {
    float: none !important; // undo .pull-right
  }

  .degree-search-results-container {
    padding-bottom: 30px;
    position: relative;
  }

  .degree-search-similar {
    margin-top: 25px;
  }

  .degree-search-group-title {
    @include font-smoothing();
    @include gotham();
    border-bottom: 1px solid #eee;
    color: #222;
    letter-spacing: -.012em;
    line-height: 30px;
    margin: 15px 0;
    padding-bottom: 10px;

    @media (max-width: $screen-sm-max) {
      font-size: 22px;
    }

    @media (max-width: $screen-xs-max) {
      border-bottom: 0 solid transparent;
      font-size: 21px;
      line-height: 1.2;
      margin: 25px 0 0 0;
    }

    small {
      display: inline-block;
    }
  }

  .degree-search-results {
    list-style-type: none;
    margin-bottom: 30px;
    margin-left: 0;
    padding-left: 0;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 35px;
    }
  }

  .degree-search-result {
    box-sizing: border-box;
    display: table;
    margin-bottom: 0;
    padding: 0;
    position: relative;
    width: 100%;

    @media (max-width: $screen-xs-max) {
      border-top: 1px solid #eee;
      margin-top: 10px;
      padding: 10px 0 0;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: #eee;

      @media (max-width: $screen-xs-max) {
        background-color: transparent;
      }
    }

    &:first-child {
      @media (max-width: $screen-xs-max) {
        border-top: 0 solid transparent;
        margin-top: 0;
      }
    }

    &:nth-child(2n) {
      background-color: #fafafa;

      @media (max-width: $screen-xs-max) {
        background-color: transparent;
      }

      &:hover,
      &:active,
      &:focus {
        background-color: #eee;

        @media (max-width: $screen-xs-max) {
          background-color: transparent;
        }
      }
    }
  }

  .degree-title-heading {
    margin-bottom: 0;
    width: 100%;
  }

  .degree-title-wrap {
    @include gotham();
    box-sizing: border-box;
    display: table;
    font-size: 17px;
    margin-bottom: 0;
    padding: 15px;
    width: 100%;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }

    @media (max-width: $screen-sm-max) {
      font-size: 16px;
    }

    @media (max-width: $screen-xs-max) {
      padding: 2px 0;
    }
  }

  .degree-title {
    border: 0 solid transparent;
    box-sizing: border-box;
    color: #08c;
    display: table-cell;
    margin-bottom: 5px;
    padding-right: 20px;
    vertical-align: middle;
    width: 85%;

    @media (max-width: $screen-xs-max) {
      font-size: 15px;
      line-height: 1.1;
      margin-bottom: 4px;
      width: 79%;
    }

    .degree-program-type {
      display: block;
      margin-top: 6px;
      width: 100%;
    }
  }

  .degree-program-type {
    @media (max-width: $screen-xs-max) {
      margin-bottom: 0;
    }
  }

  .degree-program-type,
  .degree-credits-count,
  .degree-details-separator {
    color: #888;
    font-size: 11.5px;
    font-weight: normal;
    line-height: 1.1;
  }

  .degree-program-type,
  .degree-credits-count {
    @media (max-width: $screen-xs-max) {
      display: inline;
      font-size: 11.5px;
    }
  }

  .degree-details {
    box-sizing: border-box;
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    @media (max-width: $screen-xs-max) {
      text-align: left;
    }

    span {
      @media (max-width: $screen-xs-max) {
        display: inline !important; // !important necessary to override visible-xs 'inherit'
      }
    }
  }

  .degree-title,
  .degree-details {
    @media (max-width: $screen-xs-max) {
      display: block;
      float: left;
      width: 100%;
    }
  }

  .degree-details-separator {
    display: block;
    margin: 0 6px;

    @include body-prefix('.ie') {
      display: none !important; // IE doesn't understand what "&verbar;" is for whatever reason
    }
  }

  .degree-credits-count {
    @include body-prefix('.ie') {
      padding-left: 15px;
    }

    .number {
      display: block;
      font-size: 22px;
      margin: auto;

      @media (max-width: $screen-sm-max) {
        font-size: 18px;
      }

      @media (max-width: $screen-xs-max) {
        font-size: inherit;
      }
    }
  }

  .degree-search-suggestions {
    padding-top: 30px;

    .degree-search-results + & {
      border-top: 1px solid #eee;
      margin-top: 30px;
      padding-top: 35px;

      @media (max-width: $screen-xs-max) {
        margin-top: 20px;
        padding-top: 0;
      }
    }
  }

  .degree-search-suggestions-phrase {
    @include font-smoothing();
    font-family: $font-family-serif;
    font-size: 18px;
    font-style: italic;
    line-height: 25px;
    margin-bottom: 50px;
  }

  .degree-search-no-results {
    border-bottom: 1px solid #eee;
    padding-top: 30px;
  }

  .degree-search-no-results-phrase {
    @include font-smoothing();
    font-family: $font-family-serif;
    font-size: 18px;
    font-style: italic;

    @media (max-width: $screen-xs-max) {
      font-size: 16px;
      margin-bottom: 30px;
    }
  }

  .degree-search-result-showing {
    text-align: center;
  }

  .degree-search-again-container {
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
}


// Print overrides
@media print {
  #academics-search #filters,
  #academics-search #browse { display: none; }
  #academics-search ul.results-list .program { border-bottom: 1px solid #ddd; }
  #academics-search ul.results-list .program:last-child { border-bottom: 0; }
  #academics-search ul.results-list .program .credits_wrap { border-top: 0px; padding-top: 0; text-align: left; }
}
