// Subpages - title
#page-title {
  border-bottom: 1px dotted #333;
  margin-bottom: 10px;
  padding-bottom: 10px;

  @media (max-width: $screen-xs-max) {
    margin-bottom: 15px;
    overflow: hidden;
    padding-bottom: 5px;
  }

  h1 {
    font-weight: normal;
  }

  #weather_bug {
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }

  #wb_status_txt {
    @media (max-width: $screen-sm-max) {
      font-size: 11.5px;
    }
  }
}


// Subpages - Sidebars - General
.sidebar_title {
  font-family: $font-family-sans-serif;
  font-size: 10.5px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 12px;
  padding-bottom: 8px;
  text-transform: uppercase;
}

.sidebar_nav {
  font-family: $font-family-sans-serif;
  font-size: 13px;
  margin-bottom: 20px;

  li {
    line-height: 17px;
    padding-bottom: 8px;
  }

  a {
    color: #333;
    font-weight: normal;

    &:hover {
      color: #e50606;
      text-decoration: underline;
    }
  }
}

.notoppad {
  padding-top: 0 !important;
}


// Subpages - Left Sidebar
#sidebar_left {
  @media (max-width: $screen-xs-max) {
    border-top: 1px dotted #333;
    margin-top: 10px;
    padding-top: 20px;
  }

  @media print {
    display: none;
  }

  li {
    font-size: 12px;
    padding-bottom: 8px;
  }

  .sidebar_title {
    @media (max-width: $screen-sm-max) {
      margin-bottom: 5px;
    }
  }
}

#sidebar_l_moreinfo {
  color: #B38C0B;
}

#sidebar_l_secinfo {
  color: #F5530C;
}

#sidebar_l_colleges {
  color: #777;
  padding-top: 40px;

  @media (max-width: $screen-xs-max) {
    padding-top: 0;
  }
}

// Overide mobile colors to match desktop
#degree-single {
    #contentcol .mobile-degree-cta a.btn-success,
    #contentcol .mobile-degree-cta a.btn-primary {
        color: #fff;
    }

    #contentcol .mobile-degree-cta a.btn-default {
        color: #000;
    }
}

// Subpages - Center Column (Content Column)
#contentcol {
  @media (max-width: $screen-xs-max) {
    overflow: hidden;
  }


  // General styles

  h2 {
    font-size: 18px;
    line-height: 28px;
  }

  p {
    margin-bottom: 20px;
  }

  a {
    border-bottom: 1px solid #ccc;

    &:hover {
      border-bottom: 1px solid #e50606;
      text-decoration: none;
    }
  }

  iframe,
  embed,
  object {
    height: 300px;
    width: 100%;

    @media (max-width: $screen-sm-max) {
      height: 260px;
    }

    @media (max-width: $screen-xs-max) {
      height: 300px;
    }

    @media (max-width: 480px) {
      height: 200px;
    }

    @include body-prefix('.ie8') {
      height: 260px;
      width: 100%;
    }
  }

  embed {
    background: #a3a3a3 url('../img/mobile_notavailable.gif') center center no-repeat;
  }


  // Social button overrides - reset border overrides to `#contentcol .share-___`
  .share-twitter,
  .share-facebook,
  .share-googleplus,
  .share-linkedin,
  .share-email {
    &,
    &:hover,
    &:active,
    &:focus {
      border-bottom: 0 solid transparent;
    }
  }


  // Bootstrap component overrides - reset border overrides to `#contentcol a`

  .btn-default {
    @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
  }

  .btn-primary {
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  }

  .btn-success {
    @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
  }

  .btn-info {
    @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
  }

  .btn-warning {
    @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
  }

  .btn-danger {
    @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
  }


  // Remove border-bottom for breadcrumbs, dropdown links, and nav pills
  .breadcrumb a,
  .dropdown a,
  .dropdown-menu a,
  .nav-pills a {
    &,
    &:hover,
    &:active,
    &:focus {
      border-bottom: 0 solid transparent;
    }
  }

  // Border fixes for list-group-item links
  a.list-group-item {
    &,
    &:hover,
    &:active,
    &:focus {
      border-bottom: 1px solid $list-group-border;
    }
  }

  // Border fixes for tab navs
  .nav-tabs {
    a,
    a:hover,
    a:active,
    a:focus {
      border-bottom: 1px solid transparent;
    }
  }

  // Pager, pagination border fixes
  .pager a {
    &,
    &:hover,
    &:active,
    &:focus {
      border: 1px solid $pager-border;
    }
  }

  .pagination a {
    &,
    &:hover,
    &:active,
    &:focus {
      border: 1px solid $pagination-border;
    }
  }

  // Carousel nav link border fixes
  .carousel-control {
    &,
    &:hover,
    &:active,
    &:focus {
      border-bottom: 0 solid transparent;
    }
  }


  // Content column specific overrides

  .rightcol_subheader_fix {
    float: right;
    height: 150px;
    width: 150px;

    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }


}


// Subpages - Right Sidebar
#sidebar_right {
  padding-top: 140px;

  @media (max-width: $screen-sm-max) {
    padding-top: 175px;
  }

  @media (max-width: $screen-xs-max) {
    display: none;
  }

  @media print {
    display: none;
  }

  @include body-prefix('.ie8') {
    padding-top: 140px;
  }

  .sidebar_title {
    color: #777;
  }

  .modal-body iframe,
  .modal-body embed,
  .modal-body object {
    height: 338px;
    width: 100%;

    @include body-prefix('.ie8') {
      width: 530px;
    }
  }

}

#sidebar_r_facebook_wrap > iframe {
  margin-left: -10px;
  height: 80px !important;
  width: 230px !important;

  @media (max-width: $screen-sm-max) {
    height: 74px !important;
    width: 176px !important;
  }
}

#sidebar_r_today {
  color: #000 !important;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 15px;
}

.sidebar_r_wrap {
  margin-bottom: 30px;
  overflow: hidden;

  p {
    font-family: $font-family-serif;
  }

  > iframe,
  > embed,
  > object,
  > p iframe,
  > p embed,
  > p object {
    height: auto;
    width: 220px;

    @media (max-width: $screen-sm-max) {
      width: 166px;
    }

    @include body-prefix('.ie8') {
      height: 140px;
      width: 100%;
    }
  }
}
