@import '../custom-base';

.header-media-fullscreen {
  min-height: auto;

  @include media-breakpoint-up(sm) {
    min-height: 825px;
  }
}

.degree-search-typeahead {
  font-size: .85rem;
  padding: calc(.85rem + 1px) .65rem;

  @include media-breakpoint-up(sm) {
    font-size: 1.25rem;
    padding: calc(1.25rem + 2px) .75rem;
  }
}

.btn-degree-search {
  background: $brand-primary-darker;
  border-width: 0;
  font-size: 1.25rem;
  padding: calc(.65rem + 1px) calc(1.25rem + 1px);

  @include media-breakpoint-up(sm) {
    font-size: 2rem;
    padding: calc(.85rem + 2px) calc(2.25rem + 2px);
  }
}
