@import '../custom-base';

.line-before-after {
  border-bottom: 4px solid $ucf-gold;
  border-top: 4px solid $ucf-gold;
  font-family: $font-family-condensed;
  font-size: 2.2em;
  margin-bottom: 1em;
  padding: 24px 12px;
  text-align: center;
  text-transform: uppercase;

  @include media-breakpoint-up(lg) {
    border: 0;
    font-size: 3.3em;
    margin-bottom: .3em;
    overflow: hidden;
    position: relative;
    text-align: center;
    z-index: 1;

    &::after,
    &::before {
      background-color: $ucf-gold;
      content: '\a0';
      height: 4px;
      overflow: hidden;
      position: absolute;
      top: 49%;
      width: 50%;
    }

    &::before {
      margin-left: -55%;
      text-align: right;
    }

    &::after {
      margin-left: 5%;
    }
  }
}
