@import '../custom-base';


.ucf-section-apply-to-ucf-accordion {
  @include media-breakpoint-down(xs) {
    position: relative;
  }

  .apply-accordion {
    @include media-breakpoint-down(xs) {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .apply-card {
    @include media-breakpoint-down(xs) {
      position: relative;
    }
  }

  .apply-collapse {
    @include media-breakpoint-down(xs) {
      left: 0;
      position: absolute;
      right: 0;
      top: 4.725rem; // magic number, but works well enough
      z-index: 2;
    }
  }
}
