@import '../media-template/media-template-base';

.page-media-container {
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.6) 115%);
}

#header-menu {
  a {
    color: $white;
    text-shadow: 0 0 1px $black;

    &:hover {
      color: #fc0;
    }
  }

  .last a {
    color: $black;
    text-shadow: none;

    &:hover {
      color: $white;
    }
  }
}

.promo-block {
  color: $white;
  margin-bottom: 12px !important;
  min-height: 240px;
  text-align: center;
}

.promo-icon {
  display: block;
  font-size: 72px;
  margin: .2em 0 .4em;
}

.btn-default {
  color: $black !important;
}