/* Base template overrides */
p:empty {
  display: none;
  margin: 0;
}

#contentcol {
  font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B';
  font-weight: 400;
  font-style: normal;
  color: #000;
  font-size: 16px;
/*  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;*/
}
@media (max-width: 979px) {
  #contentcol,
  #contentcol p {
    font-size: 13px;
    line-height: 1.4;
  }
}

#contentcol ul,
#contentcol ol {
  padding-left: 0;
  margin-bottom: 20px;
  margin-top: 5px;
}
#contentcol p + ul,
#contentcol p + ol {
  margin-top: -10px;
}
#contentcol li {
  line-height: 1.45;
  margin-bottom: 8px;
}
#contentcol ul li {
  margin-left: 20px;
}
#contentcol ol li {
  margin-left: 35px; /* IE10,11 have rendering issues with margin-left on ol, ul + multi-col layout; so put it here */
}
@media (max-width: 767px) {
  #contentcol ol li {
    margin-left: 25px;
  }
}

#contentcol h2 {
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 8px;
  margin-top: 40px;
}
@media (min-width: 768px) and (max-width: 979px) {
  #contentcol h2 {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  #contentcol h2 {
    font-size: 22px;
  }
}
#contentcol h3 {
  font-size: 16px;
}
@media (min-width: 768px) and (max-width: 979px) {
  #contentcol h3 {
    font-size: 14px;
  }
}
#contentcol h2,
#contentcol h3,
#contentcol h4,
#contentcol h5,
#contentcol h6 {
  font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B';
  font-style: normal;
}
#contentcol h3,
#contentcol h4,
#contentcol h5,
#contentcol h6 {
  line-height: 1.2;
  margin-top: 15px;
  margin-bottom: 5px;
}

#contentcol h2 small,
#contentcol h3 small,
#contentcol h4 small,
#contentcol h5 small,
#contentcol h6 small,
#contentcol a {
  color: inherit;
}
#contentcol h2 small,
#contentcol h3 small {
  font-size: 65%;
}
@media (max-width: 767px) {
  #contentcol h2 small,
  #contentcol h3 small {
      display: block;
  }
}

#contentcol .lead {
  font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B';
  font-style: normal;
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 30px;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
}
@media (min-width: 768px) and (max-width: 979px) {
  #contentcol .lead {
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  #contentcol .lead {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
}


/* Utility */
.ucfacts-bigtext {
  font-size: 115%;
}
.ucfacts-gold {
  color: #b2956c;
}
.ucfacts-upper {
  text-transform: uppercase;
}
.ucfacts-heading-alt {
  font-weight: 400;
}

.ucfacts-footnote-link {
  font-size: 14px;
}

#contentcol .ucfacts-list-unstyled {
  list-style-type: none;
}
#contentcol .ucfacts-list-unstyled li {
  margin-bottom: 8px;
  margin-left: 0;
}
#contentcol .ucfacts-list-twocol {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
}
@media (max-width: 979px) {
  #contentcol .ucfacts-list-twocol {
    -moz-column-count: 1;
    -moz-column-gap: 0;
    -webkit-column-count: 1;
    -webkit-column-gap: 0;
    column-count: 1;
    column-gap: 0;
  }
}

.ucfacts-table {
  margin-top: 5px;
  margin-bottom: 20px;
  width: 100%;
}
.ucfacts-table caption {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.ucfacts-table th,
.ucfacts-table td {
  border-bottom: 1px solid #eee;
  line-height: 1.35;
  padding: 7px 0;
}
.ucfacts-table th {
  font-weight: normal;
  padding-right: 10px;
  text-align: left;
}
.ucfacts-table td {
  text-align: right;
  width: 50%;
}
@media (min-width: 768px) and (max-width: 979px) {
  .ucfacts-table td {
    width: 35%;
  }
}

.ucfacts-goldbg {
  background-color: #FFF6DD;
}


/* Page-specific */
.ucfacts-innercol {
  padding-right: 15px;
}
@media (max-width: 767px) {
  .ucfacts-innercol {
      padding-right: 0;
  }
}

#contentcol .ucfacts-sidebar {
  font-family: Georgia, serif;
  font-size: 14px;
}

#contentcol .ucfacts-sidebar img {
  margin-bottom: 8px;
}

#contentcol .ucfacts-sidebar h2:first-child {
  margin-top: 0;
  margin-bottom: 20px;
}
@media (min-width: 768px) and (max-width: 979px) {
  #contentcol .ucfacts-sidebar h2:first-child {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  #contentcol .ucfacts-sidebar h2:first-child {
    font-size: 22px;
  }
}
#contentcol .ucfacts-sidebar h2#ucfacts-ucf-goals {
  font-size: 18.5px;
  font-weight: bold;
}
@media (min-width: 768px) and (max-width: 979px) {
  #contentcol .ucfacts-sidebar h2#ucfacts-ucf-goals {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  #contentcol .ucfacts-sidebar h2#ucfacts-ucf-goals {
    font-size: 22px;
  }
}

#contentcol .ucfacts-sidebar h3 {
  font-size: 15px;
  margin-bottom: 8px;
}
@media (min-width: 768px) and (max-width: 979px) {
  #contentcol .ucfacts-sidebar h3 {
    font-size: 13px;
  }
}

#ucfacts-ucf-goals + ul {
  font-style: italic;
}
.ucfacts-sidebar .ucfacts-goldbg {
  padding: 20px;
}
