@import '../../dev/media-template/media-template-base';

$font-family-serif-alt: "Archer", "Archer A", "Archer B", "Palatino Linotype", "Book Antiqua", Palatino, Georgia, serif !default;
$font-family-sans-serif-alt: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif !default;

.page-media-header {
  height: 590px;
  overflow: visible;
  width: 100%;
  z-index: 100;

  @media (max-width: $screen-sm-max) {
    height: 450px;
  }

  @media (max-width: $screen-xs-max) {
    height: 425px;
  }
}

.fade-in {
  opacity: 0;
  -webkit-transition: transform 1s, opacity 1s;
     -moz-transition: transform 1s, opacity 1s;
       -o-transition: transform 1s, opacity 1s;
          transition: transform 1s, opacity 1s;
  transform: translateY(-10px);
}

.fade-in.fade-first {
  transition-delay: .5s;
}

.fade-in.fade-second {
  transition-delay: 1s;
}

.fade-in.fade-third {
  transition-delay: 1.5s;
}


#contentcol .college {
  border-bottom: solid 1px #e7e7e7;
  margin-bottom: 70px;
  padding-bottom: 20px;

  &:first-child {
    margin-top: 40px;
  }

  &:last-child {
    border-bottom: 0;
  }


  h3 {
    font-family: $font-family-serif-alt;
    font-size: 37px;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 30px;
    margin-top: 0;

    @media (max-width: $screen-xs-max) {
      text-align: center;
    }
  }

  .description {
    padding-bottom: 20px;
  }

  img {
    margin-bottom: 30px;
  }

  .program-info-list {
    @media (max-width: $screen-xs-max) {
      text-align: center;
    }
  }

  .college-info {
    @media (max-width: $screen-xs-max) {
      text-align: center;
    }
  }

  .count-button {
    background-color: $ucf-gold;
    border: none;
    border-bottom: 0;
    border-radius: 3px;
    color: #000;
    font-family: $font-family-sans-serif-alt;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    width: 240px;

    .count {
      color: #811f1f;
      display: inline-block;
      width: 30px;
      border-right: solid 1px #ffe585;
      text-align: right;
      padding-right: 5px;
    }
  }

  .buttons-heading {
    border-top: solid 1px #e7e7e7;
    color: #757575;
    font-size: 14px;
    font-weight: 700;
    padding-top: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;

    @media (max-width: $screen-xs-max) {
      text-align: center;
    }
  }

}

.academics-intro {
  color: #000;
  font-family: $font-family-serif-alt;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 50px;
  margin-top: 40px;

  @media (max-width: $screen-sm-max) {
    font-size: 30px;
    margin-top: 70px;
  }
  @media (max-width: $screen-xs-max) {
    font-size: 25px;
    margin-bottom: 25px;
    margin-top: 75px;
  }
}

.academics-search-box {
  height: 92px;
  transition: all 1s;

  background-color: #FC0;
  color: #000;
  font-family: $font-family-sans-serif-alt;
  font-size: 24px;
  font-weight: bold;
  padding: 26px 30px;

  .title {
    font-size: 22px;
    font-weight: 500;
  }

  @media (max-width: $screen-md-max) {
    height: 125px;
  }

  .twitter-typeahead {
    // display: block !important;
    width: 57%;
    float: right;
    position: absolute;
    right: -7px;
    top: -7px;

    @media (max-width: $screen-md-max) {
      width: 101.5%;
      top: -15px;
    }
  }

  .tt-menu.tt-open {
    width: 100%;

    .tt-dataset,
    .tt-suggestion {
      width: 100%;
    }

    .tt-cursor {
      background: #ffe68d !important;
    }
  }

  input {
    background: #f9dd78;
    border: none;
    border-radius: 5px;
    color: #000;
    // float: right;
    font-family: $font-family-sans-serif-alt;
    font-size: 17px;
    font-weight: 100;
    letter-spacing: .5px;
    outline: 0;
    padding: 13px 54px 13px 25px;
    position: absolute;
    transition: all 0.3s;

    width: 100%;

    z-index: 1;

    ::-webkit-input-placeholder {
      color: #796b2d;
    }
    :-moz-placeholder {
      color: #796b2d;
    }
    ::-moz-placeholder {
      color: #796b2d;
    }
    :-ms-input-placeholder {
      color: #796b2d;
    }
    :placeholder-shown {
      color: #796b2d;
    }

  }

  .title {
    position: relative;
    top: 0;
    transition: all 0.3s;

    @media (max-width: $screen-md-max) {
      font-size: 16px;
      top: -20px;
    }

    @media (max-width: $screen-xs-max) {
      font-size: 14px;
    }
  }

  .search-icon {
    transition: all 0.3s;

    @media (max-width: $screen-md-max) {
      top: 60px;
    }
  }
}

.academics-search-box.focus.fade-in {
  transition-delay: 0s;
  transition: height 0.2s;
}

.academics-search-box.focus {
  height: 125px;

  .title {
    font-size: 16px;
    top: -20px;
  }

  .twitter-typeahead {
    width: 101.5%;
    top: -15px;
  }

  .search-icon {
    top: 60px;
  }
}

.search-icon {
  font-size: 33px;
  position: absolute;
  right: 38px;
  top: 30px;
  z-index: 2;
}

.tt-suggestion {
  background-color: rgba(255, 225, 113, 0.9);
  cursor: pointer;
  font-size: 16px;
  font-weight: normal;
  padding: 5px 10px;
  width: 500px;

  hr {
    border: 1px dashed #6f6f6f;
    margin:0;
  }

  &:hover {
    background-color: rgba(255, 225, 113, 0.8);
  }
}


.college-dropdown-content {
  background: rgba(255, 225, 113, 0.9);
  font-size: 18px;
  overflow: auto;
  padding: 0 15px;

  ul {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0 15px;
    width: 30%;

    li {
      border-bottom: 1px solid #e4c03c;
      font-family: $font-family-sans-serif-alt;
      font-size: 18px;
      font-weight: normal;
      padding: 10px 0;

      &:last-child {
        border: 0;
      }

      a {
        &:link,
        &:visited {
          color: #000;
        }
      }
    }
  }
}