/* Announcements Page */
h2.header_announcements { font-size: 20px; }
h2#ongoing-header { font-family: 'HelveticaNeue', Helvetica, sans-serif; font-weight: 200; margin-bottom: 15px; }
.page-content#announcements #filters { margin-top: 10px; }
.page-content#announcements #filters label {  }
.page-content#announcements #filters select, .page-content#announcements #filters input[type="text"] { margin-right: 15px; }

#filter_audience_wrap, #filter_keyword_wrap, #filter_time_wrap {
  display: none;
}
.active_filter { display: visible; }

#filters { margin-bottom: 20px; }
#filter_form { margin: 0; }

#filters #filter_wrap { width: 230px; }
#filters #addnew_wrap {  }
#filters #filter_update { margin-top: 27px; }

#filters #addnew_wrap { text-align: right; }
#filters #addnew_wrap #addnew_announcement { margin-top: 24px; }

#announcements #upcoming-header { margin-bottom: 25px; font-size: 15px; line-height: 20px; }
#announcements #upcoming-header .upcoming-header-alt { font-style: italic; font-weight: normal; padding-left: 5px; font-size: 20px; }

.announcement_wrap { height: auto; background: #ffffe2; margin-bottom: 40px; padding: 15px; position: relative; }
.announcement_wrap:before, .announcement_wrap:after {
  z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
  width: 50%;
    top: 80%;
    max-width:300px;
    background: rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(-3deg);
  -webkit-backface-visibility: hidden;
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
.announcement_wrap:after {
  -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}
.announcement_wrap h3 { padding-right: 25px; }
.announcement_wrap .thumbtack { width: 20px; height: 20px; background: url('static/img/spritesheet.png') -174px -36px no-repeat; position: absolute; top: -9px; left: 50%; }
.announcement_wrap .new { width: 50px; height: 50px; background: url('static/img/spritesheet.png') -375px -46px no-repeat; position: absolute; top: -1px; right: -1px; text-indent: -9999px; }

.announcement_wrap .date, .announcement_wrap .audience, .announcement_wrap .keywords { font-family: 'Helvetica Neue', Helvetica, sans-serif !important; font-size: 12px !important; }
.announcement_wrap .audience, .announcement_wrap .keywords { margin-bottom: 0 !important; }

#ongoing-twocol { margin-left: 80px; border-left: 1px dotted #333; padding-left: 19px; }
#ongoing-twocol #ongoing-header { font-size: 12px; line-height: 16px; text-transform: uppercase; font-weight: bold; font-family: Georgia, serif; }
.announcement_list { }
.announcement_list li { margin-bottom: 12px; }
.announcement_list li h3 { font-size: 13px; line-height: 18px; font-family: Helvetica, sans-serif; font-weight: normal; }


/* Single Announcements */
#announcement_meta { margin-bottom: 15px; }
#announcement_meta p { margin-bottom: 2px; }


/* Post an Announcement Login */
#ann-login-wrapper {
  background: #fff6d4;
  border: 1px solid #dad1ac;
  padding: 12px;
  max-width: 560px;
}

#ann-login-wrapper label {
  font-weight: bold;
}

#ann-login-wrapper h2 {
  font-weight: normal;
  margin-bottom: 10px;
}

#login_error p { margin-bottom: 5px; }

#auth-form .wrapper { overflow: auto; }

#auth-form-items {
  max-width: 280px;
}


/* Post an Announcement Form */
ul.tagit { width: 100% !important; border: 0 !important; padding: 0 !important; overflow: visible !important; }
li.tagit-choice {  }
li.tagit-choice .tagit-label { font-family: 'Helvetica Neue', Helvetica, sans-serif !important; }
li.tagit-choice a.tagit-close, li.tagit-choice a.tagit-close:hover { border-bottom: 0 !important; }
li.tagit-new { clear: both; float: left; width: 47% !important; }
li.tagit-new input {
  border: 1px solid #ccc !important;
  border-radius: 2px 2px 2px 2px;
  color: #333;
  box-sizing: inherit !important;
  -moz-box-sizing: inherit !important;
  -webkit-box-sizing: inherit !important;
  padding: 2px 0 !important;
  width: 100% !important;
}
.ui-widget { font-family: 'Helvetica Neue', Helvetica, sans-serif !important; font-size: 12px !important; }
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus { background: #eee !important; border: 1px solid #D3D3D3 !important; }

