/* A-Z Index */

#azindex {
  .post-type-search-header {
    height: 110px;
  }

  .post-type-search-form {
    margin-bottom: 0;
  }

  .post-type-search-form label,
  .post-type-search-form input {
    display: block; float: left;
  }

  .post-type-search-sorting {
    display:none;
  }
}

#azindex .post-type-search-form label,
#azIndexList #azIndexList-label {
  margin-right: 10px;
  font-weight: bold;
  font-size: 11px;
  vertical-align: middle;
  text-transform: uppercase;
  line-height: 28px;
}

#azIndexList {
  width: 532px; margin-left: 24px;

  &.affix {
    top: 0;
    z-index: 999;
  }

  #azIndexList-label {
    font-family: Georgia, serif;
    color: #333;
    margin-left: -5px;
    background: #fff;
    padding: 10px 10px 7px 0;
  }

  .nav {
    margin-right: 0;
  }
  .nav li {
    border-right: 1px solid #D4D4D4;

    &:first-child {
      margin-left: 2px;
    }

    &:last-child {
      border-right: 0;
    }

    a {
      width: 19.25px;
      padding: 4px 0;
      text-align:center;
      font-size: 11px;
      color: #333 !important;
      border-bottom: 0;
      font-family: 'Helvetica Neue', Helvetica, sans-serif;
    }

    a:hover {
      border-bottom: 0;
    }

    a.disabled {
      background: #eee; color: #ccc !important;
    }
}

.ie7 #azIndexList #azIndexList-label {
  padding: 10px 0 7px 4px;
}

#azindex {
  .az-jumpto-anchor {
    height: 70px;
    width: 100%;
    clear: both;
  }

  .az-jumpto-anchor#az-a {
    height: 20px;
  }

  .post-type-search {
    h3 {
      display: block; float: left;
    }

    .backtotop {
      display: block; float: right;
    }

    .backtotop + .row {
      clear:both; min-height: 100px;
    }
  }

  .post-type-search-results ul li,
  .post-type-search-alpha ul li {
    padding: 3px 10px 3px 0;
  }
}

.post-type-search-results {
  border-radius: 0 0 10px 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  background: #efefef;
  display: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset;
  position: relative;

  .post-type-search-message {
    padding: 10px 10px 0 10px;
  }

  div[class*="col-md-"] {
    padding-top: 10px;
    max-height: 300px;
    overflow: auto;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 25px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    border-bottom: 0 !important;
    color: #000 !important;
    opacity: 0.2;
  }

  .close:hover {
    border-bottom: 0 !important;
    color: #000 !important;
    opacity: 0.4;
  }
}
