// A-Z Index - post type search overrides
#azindex {
  label,
  #azIndexList-label {
    font-size: 11px;
    font-weight: bold;
    line-height: 28px;
    margin-right: 5px;
    text-transform: uppercase;
    vertical-align: middle;
  }

  .post-type-search-header {
    height: 125px;

    @include body-prefix('.ie8') {
      height: 150px;
    }

    @media (max-width: $screen-sm-max) {
      height: 160px;
    }

    @media (max-width: $screen-xs-max) {
      height: 190px;
    }

    @media (max-width: 480px) {
      height: auto;
    }
  }

  .post-type-search-form {
    margin-bottom: 0;

    .form-control {
      min-width: 250px;
    }
  }

  .post-type-search-results li,
  .post-type-search-alpha li {
    padding: 3px 10px 3px 0;
  }

  .post-type-search-results {
    background: #efefef;
    margin-top: 10px;
    padding-top: 0;
    position: relative;

    li {
      font-size: 13px;
    }

    .post-type-search-message {
      padding: 0 10px;
    }
  }

  .post-type-search-sorting {
    display: none;
  }

  .post-type-search {
    h3 {
      display: block;
      float: left;
    }

    .backtotop {
      display: block;
      float: right;
      margin-top: 3px;
    }
  }

  .post-type-search-alpha {
    ul {
      clear: both;
      min-height: 100px;
    }
  }

  .az-jumpto-anchor {
    clear: both;
    height: 70px;
    width: 100%;

    &#az-a {
      height: 20px;
    }
  }
}


// A-Z Index - by-letter navigation bar
#azIndexList {
  @media (max-width: 480px) {
    display: none;
  }

  &.affix {
    top: 0;
    z-index: 999;
  }

  .navbar {
    border-bottom: 0;
    border-radius: 0;
    border-right: 0;
    min-height: 36px;
    width: 528px;  // force fixed width so that .navbar doesn't span 100% width when un-affixed

    @media (max-width: $screen-sm-max) {
      width: 405px;
    }

    @media (max-width: $screen-xs-max) {
      width: 405px;
    }
  }

  .navbar-nav {
    @include body-prefix('.ie8') {
      margin: 0;
    }

    @media (max-width: $screen-xs-max) {
      margin: 0;
    }

    > li {
      border-bottom: 1px solid #e7e7e7;
      border-right: 1px solid #e7e7e7;
      float: left;

      > a {
        border-bottom: 0;
        color: #333;
        font-family: $font-family-sans-serif;
        font-size: 11px;
        padding: 4px 0;
        text-align: center;
        width: 19.25px;

        @media (max-width: $screen-sm-max) {
          width: 30px;
        }

        &:hover {
          border-bottom: 0;
        }

        &.disabled {
          color: #ddd;
        }
      }
    }
  }
}

#azIndexList-label {
  background: #fff;
  padding: 10px 0 7px;
}
