@import 'utils';

@import 'layout';
@import 'typography';
@import 'header';
@import 'degrees';

// Components
@import 'components/breadcrumbs';
@import 'components/degree-search-typeahead';
@import 'components/icon-link';
@import 'components/colleges-grid';
@import 'components/news';
@import 'components/events';
@import 'components/ucf-alert';
@import 'components/spotlights';
@import 'components/slideout';
@import 'components/social';
@import 'components/academic-calendar';
@import 'components/charts';
@import 'components/fact-icons';
@import 'components/misc';

// Pages
@import 'pages/404';
@import 'pages/degree-search';
@import 'pages/phonebook';
@import 'pages/colleges';
@import 'pages/a-z-index';

// Print styles (this should always be last)
@import 'print';
