#centerpiece_slider {
  height: 338px;
  margin: 0 auto 30px;
  overflow: hidden;
  position: relative;
  width: 940px;
  z-index: 1;

  @media (max-width: $screen-sm-max) {
    height: 260px;
    width: 724px;
  }

  @media (max-width: $screen-xs-max) {
    height: auto;
    margin: 0 0 30px;
    width: 100%;
  }

  @include body-prefix('.ie8') {
    z-index: 1;
  }

  ul {
    height: 338px;
    margin-bottom: 0;
    padding-left: 0;
    overflow: hidden;

    @media (max-width: $screen-sm-max) {
      height: 260px;
    }

    @media (max-width: $screen-xs-max) {
      height: auto;
    }
  }

  .thumb_corner_tl,
  .thumb_corner_tr,
  .thumb_corner_bl,
  .thumb_corner_br {
    @media print {
      display: none;
    }
  }
}

.centerpiece_single {
  float: left;
  list-style-type: none;

  .centerpiece_single_vid_thumb {
    cursor: pointer;
  }

  .centerpiece_single_vid_hidden {
    display: none;
  }

  .slide_contents {
    background: #000;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    display: block;
    font-family: $font-family-sans-serif;
    font-size: 16px;
    padding: 10px 10px 0;
    position: absolute;
    right: 0;
    top: 40%;
    z-index: 999;

    @media (max-width: $screen-xs-max) {
      display: none !important;
    }
  }

  &,
  .centerpiece_single_img,
  .centerpiece_single_vid_thumb,
  object,
  iframe,
  embed {
    height: 338px;
    width: 940px;

    @media (max-width: $screen-sm-max) {
      height: 260px;
      width: 724px;
    }

    @media (max-width: $screen-xs-max) {
      height: auto;
      line-height: 0;
      margin: 0;
      max-width: 100%;
      width: 100%;
    }
  }

  &,
  .centerpiece_single_img,
  .centerpiece_single_vid_hidden,
  object,
  iframe,
  embed {
    @include body-prefix('.ie8') {
      height: 338px;
      width: 940px;
      zoom: 1;
    }
  }
}

#centerpiece_control {
  bottom: 25px;
  display: block;
  left: 25px;
  position: absolute;
  z-index: 999;

  @media (max-width: $screen-sm-min) { // yes, this is 768px and below
    bottom: 25px;
    left: 25px;
  }

  @media (max-width: 480px) {
    bottom: 10px;
    left: 10px;
  }

  @media print {
    display: none;
  }

  a {
    background: #ddd;
    background: rgba(255, 255, 255, .7);
    border: 1px solid #fff;
    display: block;
    float: left;
    height: 8px;
    line-height: 1px;
    margin-right: 5px;
    padding: 0;
    text-indent: -9999px;
    width: 8px;

    @media (max-width: $screen-sm-min) { // yes, this is 768px and below
      height: 20px;
      margin-right: 15px;
      width: 20px;
    }

    @media (max-width: 480px) {
      height: 15px;
      margin-right: 10px;
      width: 15px;
    }

    &.activeSlide {
      background: #fff;
    }
  }
}
