.degree-promo {
  border: 1px solid $brand-complementary;
  display: inline-block;
  padding: 0;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

.degree-promo-icon,
.degree-promo-text {
  display: inline-block;
  float: left;
  font-weight: 400;
  line-height: 1.42857;
  margin-bottom: -1px;
  position: relative;
  text-align: center;
}

.degree-promo-icon {
  background: $brand-complementary;
  color: $white;
  font-size: 2rem;
  padding: .33rem .75rem;
  width: 20%;

  @include media-breakpoint-down(md) {
    font-size: 1.75rem;
    padding: 10px 12px;
  }
}

.degree-promo-text {
  padding: 1.1rem .4rem;
  width: 80%;

  @include media-breakpoint-down(md) {
    font-size: .75rem;
  }
}

.triangle {
  width: 100%;
  height: 0;
  border-top: 80px solid #484848;
  border-bottom: 80px solid #484848;
  border-left: 80px solid $brand-primary;
}

.bg-arrow-down {
  background-image: url(../img/arrow-down-trans.png);
  background-size: cover;
  background-repeat: round;
}

.modern-degree-dark-grey {
  background-color: #484848;
}

.tuition-fees-tab-content {
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.accordion-courses {
  border-bottom: 1px solid $brand-primary;
  margin: 1.25rem 0;
  padding: 1.25rem 0;
}

.degree-skill-list-item {
  font-size: 1.2em;
}

.degree-career-list {
  list-style: none; /* Remove default bullets */
}

.degree-career-list-item::before {
  content: "\2022";
  color: $brand-primary;
  font-weight: 900;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}