.degree-promo {
  border: 1px solid $brand-complementary;
  display: inline-block;
  padding: 0;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

.degree-promo-icon,
.degree-promo-text {
  display: inline-block;
  float: left;
  font-weight: 400;
  line-height: 1.42857;
  margin-bottom: -1px;
  position: relative;
  text-align: center;
}

.degree-promo-icon {
  background: $brand-complementary;
  color: $white;
  font-size: 2rem;
  padding: .33rem .75rem;
  width: 20%;

  @include media-breakpoint-down(md) {
    font-size: 1.75rem;
    padding: 10px 12px;
  }
}

.degree-promo-text {
  padding: 1.1rem .4rem;
  width: 80%;

  @include media-breakpoint-down(md) {
    font-size: .75rem;
  }
}


.degree-deadline-wrap {
  background-color: $brand-primary;

  @include media-breakpoint-up(lg) {
    // Hide potential boo-boos
    background: linear-gradient(
      to right,
      $brand-primary,
      $brand-primary 50%,
      $gray-darker 50%,
      $gray-darker
    );
  }
}

.degree-deadline-row {
  @include media-breakpoint-up(lg) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.degree-deadline-pad {
  display: none;

  @include media-breakpoint-up(lg) {
    display: flex;
    flex: 0 0 calc(((100vw - #{map-get($container-max-widths, lg)}) / 2) + (#{$grid-gutter-width-base} / 2));
    width: calc(((100vw - #{map-get($container-max-widths, lg)}) / 2) + (#{$grid-gutter-width-base} / 2));
  }

  @include media-breakpoint-up(xl) {
    flex: 0 0 calc(((100vw - #{map-get($container-max-widths, xl)}) / 2) + (#{$grid-gutter-width-base} / 2));
    width: calc(((100vw - #{map-get($container-max-widths, xl)}) / 2) + (#{$grid-gutter-width-base} / 2));
  }
}

.degree-deadline-content {
  display: block;
  padding: 2rem #{$grid-gutter-width-base / 2};

  @include media-breakpoint-up(sm) {
    padding: 2.5rem calc(((100vw - #{map-get($container-max-widths, sm)}) / 2) + (#{$grid-gutter-width-base} / 2));
    width: 100%;
  }

  @include media-breakpoint-up(md) {
    padding: 2.5rem calc(((100vw - #{map-get($container-max-widths, md)}) / 2) + (#{$grid-gutter-width-base} / 2));
  }

  @include media-breakpoint-up(lg) {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    width: auto;
  }
}

.degree-deadline-content-deadlines {
  background-image: str-replace(url("data:image/svg+xml,%3Csvg viewBox='0 0 320 75' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='m0 0h320v75h-320z' fill='#{$gray-darker}'/%3E%3Cpath d='m160 0 160 75h-320z' fill='#{$brand-primary}' transform='matrix(-1 0 0 -1 320 75)'/%3E%3C/g%3E%3C/svg%3E"), '#', '%23'); // sass-lint:disable-line quotes
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% 4rem;
  padding-bottom: 4rem;

  @include media-breakpoint-up(lg) {
    background-image: str-replace(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='bg' height='100%25' width='150' viewBox='0 0 150 100' preserveAspectRatio='none' shape-rendering='geometricPrecision' style='background-color: #{$gray-darker};'%3E%3Cpath fill='#{$brand-primary}' d='M0,0 h110 l40,50 l-40,50 h-110z'%3E%3C/path%3E%3C/svg%3E"), '#', '%23'); // sass-lint:disable-line quotes
    background-position: center right;
    background-size: 50% 100%;
    flex-grow: 1;
    padding-bottom: 2.5rem;
    padding-right: 6rem;
  }
}

.degree-deadline-content-start {
  @include media-breakpoint-up(lg) {
    flex-shrink: 0;
    max-width: #{map-get($container-max-widths, lg) * (4/12)};
    padding-left: 2.5rem;
  }

  @include media-breakpoint-up(xl) {
    flex-wrap: nowrap;
    max-width: #{map-get($container-max-widths, xl) * (5/12)};
  }
}

.tuition-fees-tab-content {
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.accordion-courses {
  border-bottom: 1px solid $brand-primary;
  margin: 1.25rem 0;
  padding: 1.25rem 0;
}

.degree-skill-list-item {
  font-size: 1.2em;
}

.degree-career-list {
  list-style: none; /* Remove default bullets */
}

.degree-career-list-item::before {
  content: "\2022";
  color: $brand-primary;
  font-weight: 900;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
