$bright-blue: #08c;

// Single Degree profiles
.updated-degree-template {
  #header-nav-wrap,
  #site-nav-xs {
    z-index: 2;
  }

  #header-nav-wrap {
    position: relative;
  }

  #site-nav-xs {
    left: $grid-gutter-width / 2;
    position: absolute;
    right: $grid-gutter-width / 2;
  }

  .page-media-container {
    padding-top: 110px;

    @media( max-width: $screen-xs-max ) {
      position: relative;
      padding-top: 160px;
    }
  }

  #header-menu {
    a {
      color: $white;
      text-shadow: 0 0 1px $black;

      &:hover {
        color: #fc0;
      }
    }

    .last a {
      color: $black;
      text-shadow: none;

      &:hover {
        color: $white;
      }
    }
  }

  .page-media-header {
    @media( max-width: $screen-xs-max ) {
      min-height: 400px;
      height: auto;
    }
  }

  &.no-header-image {
    #header-menu {
      a {
        color: $black;
        text-shadow: none;

        &:hover {
          color: #fc0;
        }
      }

      .last a {
        color: $black;
        text-shadow: none;

        &:hover {
          color: $white;
        }
      }
    }
  }

  .degree-header {
    h1 {
      @include archer(7);
      color: $black;
      background: rgba($ucf-gold, 0.8);
      display: inline-block;
      font-size: 44px;
      padding: 12px 32px;

      @media( max-width: $screen-xs-max ) {
        font-size: 30px;
      }
    }
  }

  .degree-header.no-header-image {
    .page-media-container {
      padding-top: 80px;

      @media( max-width: $screen-xs-max ) {
        padding-top: 160px;
      }
    }

    .page-media-header {
      height: 175px;

      @media( max-width: $screen-xs-max ) {
        height: auto;
        min-height: 245px;
      }
    }
  }

  .call-to-action {
    a {
      color: $black !important;
    }
  }

  .degree-details {
    background: #efefef;
    border-left: 5px solid #acacac;
    padding: 12px 12px !important;

    dt,
    dd {
      margin-bottom: 4px !important;
    }

    dt {
      font-weight: normal;
    }

    dd {
      font-weight: 700;
    }
  }

  .degree-description {
    @include archer();
    border-top: 1px solid $ucf-gold;
    font-size: 18px;
    padding-top: 24px;
  }

  #sidebar_right {
    padding-bottom: 12px;
    padding-top: 0 !important;

    @media( max-width: $screen-md-max ) {
      padding-left: 15px;
    }
  }

  .degree-credit-hours {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: -5px;
    padding: 0 12px 10px 12px;
    text-align: center;

    @media( max-width: $screen-sm-max ) {
      font-size: 23px !important;
      font-weight: bold !important;
      margin-top: 0;
    }

    @media( max-width: $screen-xs-max ) {
      font-size: 20px !important;
    }

    .hours {
      font-size: 20px;
      font-weight: bold;

      @media( max-width: $screen-sm-max ) {
        font-size: 24px !important;
        font-weight: bold !important;
      }
    }
  }

  .degree-promo-button-wrapper {
    overflow: auto;
    padding-bottom: 15px;
  }

  .degree-promo-button {
    @extend .btn-group;
    width: 100%;

    .degree-promo-icon,
    .degree-promo-text {
      @extend .btn !optional;
      margin: 12px 0;
      width: 80%;
    }

    .degree-promo-icon {
      @extend .btn !optional;
      background: #3266cc;
      color: $white;
      font-family: "FontAwesome";
      font-size: 32px;
      width: 20%;

      &:hover {
        color: $white;
      }

      @media( max-width: $screen-xs-max ) {
        margin: 6px 0;
      }
    }

    .degree-promo-text {
      @include gotham(5);
      border: 1px solid #3266cc !important;
      font-size: 15px;
      padding: 18px 12px 18px 5px;
      color: #3266cc;

      @media( max-width: $screen-xs-max ) {
        margin: 6px 0;
      }
    }

    &:hover {
      .degree-promo-text {
        color: #333;
      }
    }
  }

  .degree-promo-button:link {
    color: #3266cc !important;

    &:hover {
      .degree-promo-icon {
        color: $white !important;
        background-color: lighter(#3266cc) !important;
      }

      .degree-promo-text {
        border-color: lighter(#3266cc) !important;
      }
    }
  }
}

#degree-single {

  &.container {
    margin-top: 15px;
  }

  .nav-tabs > li.active > a {
    color: #555;
  }

  #breadcrumbs.breadcrumbs-bottom {
    border-top: 1px solid #d2d2d2;
    padding-top: 20px;
  }

  #breadcrumbs a {
    color: #999;
  }

  .breadcrumb {
    background-color: $white;
    margin-bottom: 15px;

    @media (max-width: $screen-xs-max) {
      display: none;
    }

    > li + li:before {
      padding: 0 4px;

      @include body-prefix('.ie8') {
        // IE8 has issues with spaces in the 'content' val
        content: '/';
      }
    }
  }

  .breadcrumb,
  #breadcrumb-search {
    @include gotham();
    font-size: 12.5px;

    @media (max-width: $screen-sm-max) {
      font-size: 12px;
    }
  }

  #breadcrumb-search {
    display: block;
    float: left;
    font-weight: 500;
    padding: 8px 25px 8px 0; // match .breadcrumb top/bottom padding

    @media (max-width: $screen-sm-max) {
    }

    .breadcrumb-hierarchy {
      background: $white;
      display: block;
      float: left;
      list-style-type: none;
      margin-bottom: 0;
    }

    + .breadcrumb-hierarchy {
      padding-left: 0;
      padding-right: 0;
    }
  }

  #contentcol .degree-details,
  #contentcol .cta-wrap,
  #sidebar_right {
    @include gotham();
    font-size: 14px;
  }

  #contentcol dt,
  #contentcol dd,
  #sidebar_right dt,
  #sidebar_right dd {
    display: inline;
  }

  #contentcol {
    font-family: $font-family-sans-serif;
    font-size: 15px;
    line-height: 1.5;

    small {
      line-height: 1.65;
    }

    p {
      margin: 0 0 10px;

      &:empty {
        display: none;
      }
    }

    h2,
    h3 {
      @include gotham();
      line-height: 1.3;
      margin-bottom: 5px;
    }

    h2 {
      font-size: 22px;

      @media (max-width: $screen-xs-max) {
        font-size: 23px;
        line-height: 25px;
      }
    }

    h3 {
      font-size: 18.5px;
    }

    h4,
    h5,
    h6 {
      @include gotham(6);
      line-height: 1.4;
      margin-bottom: 5px;
    }

    h4 {
      font-size: 15.5px;
    }

    a {
      border-bottom: 0;
      color: $bright-blue;
    }

    .btn-default {
      // replace the removed border-bottom
      border-bottom: 1px solid $btn-default-border;
    }

    .call-to-action .btn.btn-ucf-gold {
      @media( max-width: $screen-xs-max ) {
        border: 0;
        padding: 20px 20px;
      }
    }

    .degree-details {
      border-bottom: 1px solid #eee;
      font-size: 13px;
      padding: 0 0 20px;
      margin-top: 0;

      @media (max-width: $screen-xs-max) {
        padding: 20px 0 10px;
      }

      dl {
        margin-bottom: 0;
        margin-top: 0;
      }

      dt,
      dd {
        display: block;
        float: left;
        font-size: 16px;
        line-height: 1.3;
        margin-bottom: 15px;

        @media (max-width: $screen-sm-max) {
          font-size: 14px;
        }

        @media (max-width: $screen-xs-max) {
          clear: both;
        }
      }

      dt {
        clear: left;
        text-align: left;
        width: 33%;

        @media (max-width: $screen-sm-max) {
          width: 35%;
        }

        @media (max-width: $screen-xs-max) {
          margin-bottom: 2px;
          width: 100%;
        }
      }

      dd {
        clear: right;
        margin-left: 0;
        width: 66%;

        @media (max-width: $screen-sm-max) {
          width: 65%;
        }

        @media (max-width: $screen-xs-max) {
          margin-bottom: 20px;
          width: 100%;
        }
      }
    }

    .degree-desc {
      margin-bottom: 30px;
    }

    .degree-courses {
      h3 {
        border-bottom: 1px solid #eee;
        padding-bottom: 5px;

        .degree-courses-credits {
          font-size: 15px;
        }
      }
    }

    .degree-courses-credits {
      display: block;
      float: right;
      font-weight: 500;
      white-space: nowrap;

      @media (max-width: $screen-xs-max) {
        float: none;
        margin-top: 5px;
      }
    }

    .mobile-degree-cta {
      margin-bottom: 20px;
    }
  }

  #sidebar_right {
    box-sizing: border-box;
    padding-left: $grid-gutter-width;
    padding-top: 50px;

    @media (max-width: $screen-sm-max) {
      padding-left: $grid-gutter-width - 5;
    }

    @media (max-width: $screen-xs-max) {
      border-top: 2px solid #eee;
      display: block;  // unset display: none;
      padding-left: $grid-gutter-width / 2;  // reset
    }

    h2 {
      color: #888;
      font-size: 18px;
      font-weight: normal;
      line-height: 1.2;
      margin-bottom: 15px;
      margin-top: 50px;

      @media (max-width: $screen-xs-max) {
        margin-top: 30px;
      }
    }

    ul {
      list-style-type: none;
      margin-left: 0;
    }

    dl {
      font-size: 13px;
      margin-bottom: 0;
      margin-top: 0;
    }

    dt,
    dd {
      display: block;
      float: left;
      line-height: 1.3em;
      margin-bottom: 4px;
    }

    .btn-lg {
      @media (max-width: $screen-sm-max) {
        font-size: 14px;
      }
    }

    .contact-info {
      margin-bottom: 25px;

      @media (max-width: $screen-xs-max) {
        margin-bottom: 0;
      }

      &:last-child {
        border-bottom: 0;
      }
    }

    .contact-name,
    .contact-title {
      display: block;
    }

    .contact-name {
      font-weight: normal;
      margin-bottom: 3px;

      @media (max-width: $screen-xs-max) {
        margin-bottom: 10px;
      }
    }

    .contact-title {
      font-style: italic;
    }

    .contact-info-dl {
      @media (max-width: $screen-xs-max) {
        padding: 0 0 10px;
      }

      a {
        color: $bright-blue;
      }

      dt,
      dd {
        @media (max-width: $screen-xs-max) {
          clear: both;
        }
      }

      dt {
        clear: left;
        font-weight: normal;
        text-align: left;
        width: 20%;

        @media (max-width: $screen-sm-max) {
          width: 28%;
        }

        @media (max-width: $screen-xs-max) {
          margin-bottom: 2px;
          width: 100%;
        }

        @include body-prefix('.ie8') {
          width: 25%;
        }
      }

      dd {
        clear: right;
        margin-left: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 80%;

        @media (max-width: $screen-sm-max) {
          width: 72%;
        }

        @media (max-width: $screen-xs-max) {
          margin-bottom: 10px;
          width: 100%;
        }

        @include body-prefix('.ie8') {
          width: 75%;
        }
      }
    }

    .tuition-info-dl {
      dt {
        clear: left;
        font-weight: normal;
        text-align: left;
        margin-bottom: 1.0em;
        width: 65%;
      }

      dd {
        clear: right;
        text-align: right;
        margin-left: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 35%;
      }
    }

    .highlight-block {
      background: #fff7da;
      padding: 12px;
    }

    .tuition-missing-block {
      text-align: center;

      a:link,
      a:active,
      a:visited {
        text-decoration: underline;
      }

      a:hover {
        text-decoration: none;
      }
    }

    .tuition-total-block {

      .tuition-total {
        color: #333;
        font-size: 20px;
        font-weight: 700;
        line-height: .8;
        padding: 15px 0 6px 0;
        text-align: center;
        margin-bottom: 6;

    @media( max-width: $screen-sm-max ) {
      font-size: 27px !important;
      font-weight: bold !important;
    }

      }

      .tuition-period {
        font-size: 18px;
    @media( max-width: $screen-sm-max ) {
      font-size: 27px !important;
      font-weight: bold !important;
    }
      }

      .tuition-description {
        color: #222;
        font-size: 12px;
        font-weight: 300;
        padding: 0 5px;
        margin-bottom: 5px;
      }
    }
  }

  .tuition-info.tuition-info-classic {

    .tuition-total {
      text-shadow: 0 1px 1px #999 !important;
      color: #c90;
      font-size: 32px;
      font-weight: 700;
      line-height: .8;
      padding: 20px 0;
      text-align: center;
      text-shadow: 0 1px 1px #cacaca;

      .tuition-period {
        color: #c90;
        font-size: 18px;
      }

      .in-state-amount {
        color: #c90;
      }

      .degree-credit-hours {
        font-size: 32px;
        padding: 12px 0;
        text-align: center;
        text-shadow: 0 1px 1px #999;

        .small {
          color: #fc0;
          font-size: 18px;
        }
      }
    }
  }

  .btn {
    @include gotham();
    margin: 0 0 15px;
  }

  .btn-lg {
    font-size: 15px;

    @media (max-width: $screen-xs-max) {
      font-size: 14px;
    }
  }

  .disclaimer {
    color: #757575;
    font-size: 10px;
  }

  .financial-aid-message,
  .tuition-value-message {
    font-size: 14px;
    margin-bottom: 18px;
  }

  .financial-aid-message,
  .tuition-info {
    a {
      color: $bright-blue;
    }
  }

  .tuition-value-message {
    .external {
      color: $bright-blue;
    }
  }

  .degree-description {
    margin: 20px 0;

    @media (max-width: $screen-xs-max) {
      margin: 30px 0;
    }
  }

  // Apply to Program CTA
  .cta-wrap {
    margin-top: 50px;

    h3 {
      border-bottom: 0 solid transparent !important;
    }

    > h2:first-child,
    > h3:first-child {
      margin-top: 10px !important;
    }

    .btn {
      background-color: $ucf-gold;
      color: $black !important;
      margin-top: 10px;
      padding-left: 45px;
      padding-right: 45px;

      &:hover {
        background-color: #f9c404;
      }
    }
  }

  // Social buttons
  .social {
    margin-bottom: 20px;
  }
}

#tuition-tabs {
  margin-bottom: 20px;
}

#program-meta p {
  @media (max-width: $screen-xs-max) {
    padding-left: 0;
  }
}


// [degree-list] shortcode
.degree-list {
  list-style-type: none;
  margin-left: 0;
  // IE9 and 8 fall back gracefully to a single column.
  -webkit-column-count: 2; // Chrome, Safari, Opera
  -moz-column-count: 2; // Firefox
  column-count: 2;
  -webkit-column-gap: 20px; // Chrome, Safari, Opera
  -moz-column-gap: 20px; // Firefox
  column-gap: 20px;

  @media (max-width: 480px) {
    -webkit-column-count: 1; // Chrome, Safari, Opera
    -moz-column-count: 1; // Firefox
    column-count: 1;
  }

  li {
    overflow: hidden;
    margin-bottom: 5px;
  }
}
