#footer {
  border-top: 0;
  margin: 35px 0 20px;

  a:hover {
    color: #e50606;
  }
}

#footer-navwrap,
#subfooter {
  @media (max-width: $screen-xs-max) {
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
  }
}

#footer-menu {
  @media (max-width: $screen-xs-max) {
    margin-bottom: 20px;
  }

  li {
    border-right: 1px solid $gray-darker;
    font-family: $font-family-sans-serif;
    letter-spacing: .8px;
    line-height: 1;
    margin-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;

    @media (max-width: $screen-sm-max) {
      padding-left: 6px;
      padding-right: 6px;
    }

    @media (max-width: $screen-xs-max) {
      letter-spacing: .7px;
    }

    &.last {
      border-right: 0 solid transparent;
    }
  }

  a {
    color: $gray-darker;
    font-size: 10px;
    line-height: 1.35;
  }
}

#subfooter {
  font-size: 10px;
  letter-spacing: .8px;
  line-height: 2;
  text-align: center;

  a {
    color: $gray-darker;
  }
}

#social-menu-wrap {
  margin: 0;
  padding: 10px 0 15px;
}

.social-menu {
  margin-bottom: 14px;
  margin-top: 20px;
  text-align: center;
}

.social-menu-link {
  background: $black;
  border-radius: 50%;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: 0 5px 10px;
  text-align: center;
  vertical-align: middle;
  width: 40px;

  &:hover,
  &:active,
  &:focus {
    background: $footer-gray-light;

    .social-menu-icon {
      color: $footer-gray;
    }
  }
}

.social-menu-icon {
  color: $white;
  font-size: 24px;
  line-height: inherit;
}

#footer-logo {
  padding-top: 10px;

  a {
    @include sprite();
    background-position: -246px -46px;
    height: 45px;
    margin: auto;
    width: 123px;
  }
}
