#footer {
  border-top: 0;
  margin: 20px 0;

  a:hover {
    color: #e50606;
  }

  #home-footerwrap & {
    margin: 20px 0 20px 20px;
  }
}

#footer-navwrap {
  float: right;
  left: -50%;
  position: relative;
}

#footer-menu {
  left: 50%;
  position: relative;

  @media (max-width: $screen-xs-max) {
    margin-bottom: 20px;
    text-align: center;
  }

  li {
    font-family: $font-family-sans-serif;
    letter-spacing: .8px;
    margin-right: 8px;

    @media (max-width: $screen-sm-max) {
      margin-right: 5px;
    }

    @media (max-width: $screen-sm-min) { // yes, this is 768px
      letter-spacing: .7px;
    }

    @media (max-width: $screen-xs-max) {
      float: none !important;
      margin-bottom: 10px;
    }

    &:after {
      content: '|';
      margin-left: 2px;

      @media (max-width: $screen-xs-max) {
        margin-left: 5px;
      }
    }

    &.last:after {
      content: none;
    }
  }

  a {
    color: #262626;
    font-size: 10px;
  }
}

#subfooter {
  clear: both;
  font-size: 10px;
  letter-spacing: .8px;
  text-align: center;

  a {
    color: #262626;
  }
}

#social-menu-wrap {
  clear: right;
  float: right;
  left: -50%;
  margin: 0;
  padding: 10px 0 15px;
  position: relative;
}

#social-menu {
  left: 50%;
  list-style-type: none;
  position: relative;

  li {
    float: left;
    margin-right: 5px;

    &:first-child {
      margin-left: -18px;
    }
  }

  a[href*="facebook"],
  a[href*="twitter"],
  a[href*="flickr"],
  a[href*="youtube"],
  a[href*="google"] {
    @include sprite();
    height: 32px;
    width: 35px;
  }

  a[href*="facebook"] {
    background-position: -1px -35px;
  }

  a[href*="flickr"] {
    background-position: -32px -35px;
  }

  a[href*="youtube"] {
    background-position: -101px -35px;
  }

  a[href*="google"] {
    background-position: -134px -35px;
  }
}

#footer-logo {
  clear: both;
  padding-top: 10px;

  a {
    @include sprite();
    background-position: -246px -46px;
    height: 45px;
    margin: auto;
    width: 123px;
  }
}
