.android select {
  @media (max-width: $screen-xs-max) {
    -webkit-appearance: listbox !important;
    line-height: 10px !important;
  }
}

.gform_body input[type="text"],
.gform_body textarea,
li.tagit-new {
  @media (max-width: 480px) {
    width: 99% !important;
  }
}

.gfield_label {
  margin-top: .9em;
}
