.header-image {
  min-height: 700px;

  @include media-breakpoint-up(sm) {
    min-height: 400px;
  }
}

.header-title {
  font-family: $font-family-slab-serif;
  font-size: 70px;
  font-weight: 500;
  margin: 0;
  padding: 2px 15px 12px;
}

.header-subtitle {
  font-size: 22px;
  padding: 8px 12px;

  .wi {
    color: $brand-primary;
  }
}

.title-wrapper {
  min-height: 265px;
}

.media-heading {
  margin-top: 100px;
}

.header-gradient {
  @include gradient-y(rgba($black, .5), transparent);
}

.navbar-custom {
  // Selector depth required to match Bootstrap/Athena selectors
  // scss-lint:disable NestingDepth SelectorDepth
  .navbar-nav {
    .nav-link {
      &:hover,
      &:active {
        background-color: rgba(0, 0, 0, .9);
        color: $white;
      }
    }

    .nav-item:last-child {
      .nav-link {
        background-color: $brand-primary;
        color: $black;

        &:hover,
        &:active {
          background-color: $black;
          color: $white;
        }
      }
    }
  }
  // scss-lint:enable NestingDepth SelectorDepth
}
