// Desktop nav
#header-menu {
  @include center-block();
  margin-bottom: 20px;
  margin-top: 20px;

  li {
    @media (max-width: $screen-sm-max) {
      padding: 0;
    }
  }

  a {
    color: #262626;
    font-size: 17px;
    font-weight: 400;
    padding: 7px;

    @media (max-width: $screen-sm-max) {
      font-size: 14.25px !important;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: #000;
      color: #fc0;
      text-decoration: none;
    }
  }

  a[href]:after {
    @media print {
      content: '';
    }
  }

  .last {
    height: 25px;

    &:after {
      content: '' !important;
    }

    a {
      background-color: #fc0;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px;
      cursor: pointer;
      display: inline-block;
      font-family: Verdana, Geneva, sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.42857143;
      margin-bottom: 0;
      margin-top: -5px;
      padding: 4px 12px;
      text-align: center;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      vertical-align: middle;
      white-space: nowrap;

      @media (min-width: $screen-md-min) {
        @include body-prefix('.ie9') {
          top: 1px;
        }
      }

      @media (max-width: $screen-sm-max) {
        font-size: 11px !important;
      }

      &:hover,
      &:active,
      &:focus {
        background-color: #000;
        color: #fff;
      }
    }
  }
}

.no_nav_separator:after {
  content: '' !important;
}


// Mobile nav
#site-nav-xs {
  border-radius: 4px;
  margin: 10px 0 20px;

  .navbar-brand {
    color: #fff;
    font-family: $font-family-serif, serif;
    font-size: 20px;
  }
}

#header-menu-xs {
  font-family: $font-family-serif, serif;

  li {
    margin-bottom: 0;
  }

  a {
    font-size: 14px;
    font-weight: bold;
  }

  .last {
    text-align: center;

    a {
      background-color: #fc0;
      border-radius: 4px;
      color: #000;
      font-family: Verdana, Geneva, sans-serif;
      font-size: 11px;
      margin: 10px 15px;
      padding: 6px 15px;
    }
  }
}
