body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-main {
  flex: 1 0 auto;
}

.screen-reader-text {
  @include sr-only();
}

.skip-navigation {
  @include sr-only();
  @include sr-only-focusable();

  &:focus {
    left: $spacer-x;
    position: absolute;
    top: calc(#{$ucf-header-height} + #{$spacer-y});
    z-index: 4;
  }
}
