// Prepends body<selector> to a selector. Useful when defining IE and page-specific overrides.
// Cannot be used on direct body selectors or their children.
@mixin body-prefix($selector) {
  body#{$selector} & {
    @content;
  }
}

// Disable IE10+ "x" button on input field
@mixin ie-no-ms-clear() {
  &::-ms-clear {
    display: none;
  }
}

// Adds font smoothing to an element
@mixin font-smoothing() {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

// Removes font smoothing from an element
@mixin no-font-smoothing() {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
}

// Adds necessary CSS for a spritesheet-based element.
// Extended elements should provide a fixed width, height, and
// background-position.
@mixin sprite($url: '../img/spritesheet.png', $url-r: '../img/spritesheet.png', $width: 425px, $height: 350px) {
  background-image: url($url);
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;

  @media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url($url-r);
    background-size: $width $height;
  }
}

// Adds Gotham font family styles to an element (using backward-compatible
// font-family declarations for IE8 support.)
// $weight should be a number from 1-9, which references the desired font
// weight (100-900).  Default is 4 (400) or 'Book'.
@mixin gotham($weight: 4, $font-style: normal) {
  font-family: 'Gotham SSm #{$weight}r', 'Gotham SSm A', 'Gotham SSm B', $font-family-sans-serif;
  font-style: $font-style;
  font-weight: #{$weight}00;
}

// Adds Archer font family styles to an element.
// $weight should be a number from 1-9, which references the desired font
// weight (100-900).  Default is 4 (400) or 'Book'.
@mixin archer($weight: 4, $font-style: normal) {
  font-family: 'Archer A', 'Archer B', $font-family-serif;
  font-style: $font-style;
  font-weight: #{$weight}00;
}

// Adds Knockout font family styles to an element.
// $weight should be a number from 1-9, which references the desired font
// weight (100-900).  Default is 4 (400) or 'Book'.
@mixin knockout($weight: 4, $font-style: normal) {
  font-family: 'Knockout 49 A', 'Knockout 49 B', $font-family-serif;
  font-style: $font-style;
  font-weight: #{$weight}00;
}

// Gold Button Style
@mixin gold-button {
  background-color: $ucf-gold;
  color: $black;

  &:hover,
  &:active,
  &:focus {
    background-color: $black;
    color: $white;
  }
}
