// Publications
.pub {
  display: block;
  height: auto;
  min-height: 210px;
  overflow: hidden;
  padding: 10px 0 5px 5px;
  width: 170px;

  @include body-prefix('.ie8') {
    height: 198px;
    padding: 0;
    width: 153px;
  }

  a {
    color: #000;
    font-size: 14px;

    &:hover {
      color: #c00;
    }
  }

  img {
    @include rotate(-2deg);
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .2);
    float: left;
    height: auto;
    margin-bottom: 5px;
    width: 153px;

    @include body-prefix('.ie8') {
      // Note that old IE users may see skewed thumbnails
      height: 198px;
      width: 153px;
    }
  }

  .modal {
    height: 80%;
    margin: 0 auto;
    max-height: 95%;
    overflow: hidden;
    top: 60px !important;
    width: 95%;

    iframe {
      border: 0;
      overflow: hidden !important;
    }

    .modal-dialog {
      height: 100%;
      margin: 0;
      width: 100%;
    }

    .modal-content,
    .modal-body {
      height: 100%;
    }

    .modal-body {
      padding: 0;

      @include body-prefix('.ie') {
        padding-bottom: 50px;
      }
    }

    .btn {
      bottom: 7px;
      position: absolute;
      right: 7px;
      text-decoration: none;
      z-index: 9999;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
