/* Publications */
.pub { display: block; overflow: hidden; width: 170px; height: auto; min-height: 210px; padding: 10px 0 5px 5px; }
.ie7 .pub, .ie8 .pub { width: 153px; height: 198px; padding: 0; }
.pub a { color: #000; font-size: 14px; }
.pub a img {
  float: left;
  margin-bottom: 5px;
  width: 153px;
  height: auto;
  transform: rotate(-2deg);
  -ms-transform: rotate(-2deg); /* IE 9 */
  -webkit-transform: translate3d(0,0,0) rotate(-2deg); /* Safari and Chrome */
  -o-transform: rotate(-2deg); /* Opera */
  -moz-transform: rotate(-2deg); /* Firefox */
  -webkit-box-shadow:  2px 2px 5px 2px rgba(0, 0, 0, 0.2);
    box-shadow:  2px 2px 5px 2px rgba(0, 0, 0, 0.2);
}
.ie7 .pub a img, .ie8 .pub a img { width: 153px; height: 198px; } /* Note that old IE users may see skewed thumbnails */
.pub a:hover { color: #cc0000; }
.pub .modal { width: 95%; height: 80%; max-height: 95%; margin: 0 auto; top: 60px !important; left: 2.5% !important; overflow: hidden; }
.pub .modal iframe { border: 0; overflow: hidden !important; }
.pub .modal .btn { position: absolute; bottom:7px; right: 7px; z-index:9999; text-decoration: none; }
.pub .modal .btn:hover { text-decoration: none; }
