body {
  line-height: 1.65;
}

a {
  color: #600;

  &:hover {
    color: #e50606;
  }
}

pre,
blockquote {
  @media print {
    border: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.4;
  margin: 0;
}

h6 {
  color: $gray-light;
  text-transform: uppercase;
}

ol,
ul {
  padding-left: 25px;
}

.lead {
  font-size: 20px;
}

small,
.small {
  font-size: 85%;
}

.ucf-gold {
  color: $ucf-gold;
}

.ucf-gold-light {
  color: $ucf-gold-light;
}

.ucf-gold-lighter {
  color: $ucf-gold-lighter;
}

.ucf-gold-dark {
  color: $ucf-gold-dark;
}

.ucf-gold-darker {
  color: $ucf-gold-darker;
}

.ucf-gold-darkest {
  color: $ucf-gold-darkest;
}
