.vertical-rule {
  border-left: 1px solid $white;
  margin-left: 4px;
  margin-right: 6px;
  width: 2px;
}

.media-background-video + .media-background-picture,
.media-background-video + .media-background-img {
  @include media-breakpoint-up(sm) {
    display: none;
  }
}
