// scss-lint:disable ImportantRule

// Disable responsiveness in IE8:
.ie8 {
  // Create grid for IE8 because it doesn't understand media queries
  @include make-grid(md);

  // Fix .visible-, .hidden- classes
  .hidden-md {
    display: none !important;
  }

  .visible-md-block {
    display: block !important;
  }

  .visible-md-inline {
    display: inline !important;
  }

  .visible-md-inline-block {
    display: inline-block !important;
  }

  // Disable responsiveness in IE8:
  // Force fixed width for containers
  .container {
    max-width: none !important;
    width: $container-md;
  }
}

// scss-lint:enable ImportantRule


// Content hiding helpers
.print-only {
  display: none;
}

.sr-only,
#wp-a11y-speak {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


// IE8 rounded corner fix for news, spotlight thumbnails; Standard rounded corners for centerpieces
.thumb_corner_tl,
.thumb_corner_tr,
.thumb_corner_bl,
.thumb_corner_br {
  @include sprite();
  height: 10px;
  position: absolute;
  width: 10px;
  z-index: 999;
  zoom: 1;
}

.thumb_corner_tl {
  background-position: -416px -10px;
  left: 0;
  top: 0;
}

.thumb_corner_tr {
  background-position: -402px 0;
  right: 0;
  top: 0;
}

.thumb_corner_bl {
  background-position: -404px -8px;
  bottom: 0;
  left: 0;
}

.thumb_corner_br {
  background-position: -413px 3px;
  bottom: 0;
  right: 0;
}


// Fix to unset Google conversion iframe heights
iframe[name="google_conversion_frame"] {
  height: 0;
}
