$icon-font-path: '../../static/fonts/bootstrap/';
$fa-font-path:   '../../static/fonts/font-awesome/';

// Font overrides
$font-family-serif: Georgia, serif;
$font-family-base: $font-family-serif;
$font-size-base: 13px;
$font-size-h1: 30px;
$font-size-h2: 24px;
$font-size-h3: 15px;
$font-size-h4: 14px;
$font-size-h5: 12px;
$font-size-h6: 11px;
$headings-font-weight: 600;
$blockquote-font-size: $font-size-base;
