$icon-font-path: '../../static/fonts/bootstrap/';
$fa-font-path:   '../../static/fonts/font-awesome/';
$wi-path: '../../static/fonts/weather-icons/';

// Custom variables
$ucf-header-height: 50px;

$black: #000 !default;
$white: #fff !default;
$ucf-gold: #ffc904 !default;
$ucf-gold-light: #ffeb9b !default;
$ucf-gold-lighter: #fdf9e8 !default;
$ucf-gold-dark: #b18e00 !default;
$ucf-gold-darker: #a68500 !default;
$ucf-gold-darkest: #786000 !default;
$ucf-metal-gold: #c90 !default;
$ucf-athletics-gold: #bc9a36 !default;
$ucf-athletics-gold-light: #eee6cd !default;
$footer-gray: #3e3e3e !default;
$footer-gray-light: #d4d4d4 !default;

// Custom variable aliases:
$ucf-bg-default: $ucf-gold !default;
$ucf-bg-highlight: $ucf-metal-gold !default;
$ucf-col-default: $black !default;
$ucf-col-highlight: $white !default;

// Font overrides
$font-family-serif: Georgia, serif;
$font-family-base: $font-family-serif;
$font-size-base: 13px;
$font-size-h1: 30px;
$font-size-h2: 24px;
$font-size-h3: 15px;
$font-size-h4: 14px;
$font-size-h5: 12px;
$font-size-h6: 11px;
$headings-font-weight: 600;
$blockquote-font-size: $font-size-base;
