/* Videos */
.video { overflow: hidden; }
.video .icon { position: relative; overflow: hidden; font-size: 0; line-height: 0; margin-bottom: 10px; }
.video .icon a { border-bottom: 0 !important; }
.video .icon img {  }
.video .video-link {  }
.video h4, .video .video-desc p { font-size: 12px; }
