/////////////////////////////////
// Helper classes - media header
/////////////////////////////////

.page-media-header {

  // Defines a large Archer-faced title/tagline with semi-transparent
  // gold background and black text. Font sizes applied to this class will
  // likely need to be overridden per-page, especially at mobile sizes.
  //
  // This class should also be combined with a .pull-left or .pull-right
  // class to force a float; otherwise, a sibling .header-subtitle may not be
  // pushed underneath properly.
  //
  // Sample usage:
  //
  // <span class="header-title pull-right">Tagline here...</span>
  // <h1 class="header-subtitle pull-right">Subtitle text here...</h1>
  //
  // <div class="pull-left">
  // <span class="header-title pull-left">Tagline here...</span>
  // <h1 class="header-subtitle pull-right">Subtitle text here...</h1>
  // </div>
  //
  .header-title {
    @include archer(5);
    background-color: rgba($ucf-gold, .8);
    font-size: 28px;
    line-height: 1.2;
    margin: 10px 0 0;
    padding: 12px;
    text-align: center;

    @media (min-width: $screen-sm-min) {
      font-size: 48px;
      text-align: none;
    }
  }

  // Defines a small line of white text with black background. Intended
  // to be used immediately underneath .header-title.
  //
  // See .header-title description for usage.
  .header-subtitle {
    @include archer(3);
    background-color: $black;
    color: $white;
    font-size: 13px;
    font-weight: 300;
    margin: 0;
    padding: 6px 12px;

    @media (min-width: $screen-sm-min) {
      font-size: 22px;
      padding: 8px 12px;
    }
  }

  .header-title,
  .header-subtitle {
    clear: both;
    display: inline-block;
  }
}
