/////////////////////////////////
// General Main Site CSS Resets
/////////////////////////////////

// scss-lint:disable IdSelector
#contentcol {
  a:not(.btn) {
    border-bottom: 0 solid transparent;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }

  p {
    margin-bottom: 1.5em;

    &:empty {
      display: none;
    }
  }

  .lead {
    margin: 1em 0 1.7em;
  }
}
// scss-lint:enable IdSelector
