/////////////////////////////////
// Media Template Resets
/////////////////////////////////

// scss-lint:disable IdSelector
.page-media,
#contentcol {
  @include gotham();
  color: $black;
  font-size: 14px;
  line-height: 1.5;

  @media (min-width: $screen-sm-min) {
    font-size: 16px;
    line-height: 1.65;
  }

  // Gotham-ize all the things
  .alert,
  .badge,
  .breadcrumb,
  .btn,
  .carousel,
  .collapse,
  .dropdown,
  .dropdown-menu,
  .jumbotron,
  .label,
  .list-group,
  .media,
  .modal,
  .nav,
  .navbar,
  .pager,
  .pagination,
  .panel,
  .table,
  .tooltip {
    @include gotham(4);
  }

  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    @include gotham(7);
  }

  // Re-define .h1-6 classes under the #contentcol selector to allow font
  // size and line height overrides on h2 elements without selector
  // specificity issues
  .h1,
  h2,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    line-height: $headings-line-height;
  }

  h1,
  .h1 {
    @include margin-h1();
    font-size: 26px;

    @media (min-width: $screen-sm-min) {
      font-size: 32px;
    }
  }

  // Base h2 element is also overridden here to reset overrides in
  // src/scss/page/_general.scss
  h2,
  .h2 {
    @include margin-h2();
    font-size: 21px;

    @media (min-width: $screen-sm-min) {
      font-size: 26px;
    }
  }

  // Reset h3 font size here as well
  h3,
  .h3 {
    @include margin-h3();
    font-size: 18px;

    @media (min-width: $screen-sm-min) {
      font-size: 20px;
    }
  }

  h4,
  .h4 {
    @include margin-h4();
    font-size: 14px;

    @media (min-width: $screen-sm-min) {
      font-size: 16px;
    }
  }

  h5,
  .h5 {
    @include margin-h5();
    font-size: $font-size-h5;
  }

  h6,
  .h6 {
    @include margin-h6();
    font-size: $font-size-h6;
  }

  a {
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border .15s ease-in-out;
  }

  ol,
  ul {
    margin-bottom: 2em;
  }

  li {
    line-height: 1.3;
    margin-bottom: .8em;
  }

  // Remove border-radius on btn's
  .btn {
    border-radius: 0;
  }
}

.page-media {
  // Non-mobile-first theme override
  @media (max-width: $screen-xs-max) {
    margin-bottom: 0;
    position: static;
  }
}

.page-media-container {
  // Non-mobile-first theme override
  @media (max-width: $screen-xs-max) {
    padding-top: 74px;
    position: static;
  }
}

#contentcol {
  a:not(.btn) {
    color: $brand-primary;
  }

  .lead {
    @include archer();
    line-height: 1.45;

    @media (min-width: $screen-sm-min) {
      font-size: 24px;
    }
  }

  .well {
    background-color: $ucf-gold-light;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    line-height: 1.5;
    margin: 2em 0 3em;

    @media (min-width: $screen-sm-min) {
      line-height: 1.4;
    }

    a:not(.btn) {
      @include gotham(6);
      color: $black;
      text-decoration: underline;
    }

    h1,
    .h1,
    .margin-h1,
    h2,
    .h2,
    .margin-h2,
    h3,
    .h3,
    .margin-h3,
    h4,
    .h4,
    .margin-h4,
    h5,
    .h5,
    .margin-h5,
    h6,
    .h6,
    .margin-h6 {
      // Intentional mix of px and em units--ensures .well-icon and
      // headings align vertically
      margin: 20px 0 1em;
    }
  }

  .table {
    @media (min-width: $screen-md-min) {
      font-size: 16px;
    }

    caption {
      @include archer(7);
      color: $black;
      font-size: 18px;
      padding-left: 8px;

      @media (min-width: $screen-md-min) {
        font-size: 21px;
      }
    }

    > tbody > tr > td,
    > tbody > tr > th,
    > tfoot > tr > td,
    > tfoot > tr > th,
    > thead > tr > td,
    > thead > tr > th {
      border-top: 0 solid transparent;
    }
  }

  .table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: $ucf-gold-lighter;
  }
}
// scss-lint:enable IdSelector
