/////////////////////////////////
// Custom Variables
/////////////////////////////////
$font-size-h1-xs: 26px;
$font-size-h1-sm: 32px;
$font-size-h2-xs: 21px;
$font-size-h2-sm: 26px;
$font-size-h3-xs: 18px;
$font-size-h3-sm: 20px;
$font-size-h4-xs: 14px;
$font-size-h4-sm: 16px;

$callout-light-gray: #fafafa;
